.card{
	display: inline-block;
	width: 450px;
	margin: 0 10px;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
}
.card--full{
	width: 100%;
	margin: 0;
	transition: transform 0.3s ease;
	.card__slider{
		height: 250px;
	}
	&:hover{
		transform: translateY(-10px);
		box-shadow: 0px 6px 10px 0px rgba(63,63,68,0.15);
		.card__pricewrap{
			img,svg{
				circle{
					fill: #5b8ef4;
					stroke: #fff;
				}
				path{
					stroke: #fff;
				}
			}
		}
	}
}
.card__slider{
	width: 100%;
	height: 200px;
	img{
		width: 100%;
		height: 100%;
	}
}
.card__location{
	padding: 15px 0;
	margin: 0;
}
.card__map{
	width: 100%;
}
.card__infowrap{
	h5{
		font-weight: bold;
		margin-bottom: 15px;
	}
	.card__desc{
		color: #637381;
		height: 45px;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.card__info{
	color: #a4a4a4;
	span, p{
		display: inline-block;
		color: #a4a4a4;
	}
	span{
		margin-right: 5px;
	}
}
.card__pricewrap{
	width: 100%;
	padding: 15px;
	border-top: solid 1px #e4e4e4;
	border-bottom: solid 1px #e4e4e4;
	h2{
		color: #ffb757;
		margin: 0;
		font-weight: bold;
	}
	span{
		color: #637381;
		font-size: 15px;
		vertical-align: middle;
		font-weight: normal;
	}
	img,svg{
		position: absolute;
		width: 35px;
		height: 35px;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
	}
}