.card{
	display: inline-block;
	width: 100%;
	margin: 0 10px;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
	&:hover{
		.card__pricewrap{
			img,svg{
				circle{
					fill: #5b8ef4;
					stroke: #fff;
				}
				path{
					stroke: #fff;
				}
			}
		}
	}
}
.card--full{
	width: 100%;
	margin: 0;
	transition: transform 0.3s ease;
	.card__slider{
		height: 250px;
		@media(max-width: 1100px){
			height: 200px;
		}
	}
	&:hover{
		transform: translateY(-10px);
		box-shadow: 0px 6px 10px 0px rgba(63,63,68,0.15);
	}
}
.card__slider{
	position: relative;
	width: 100%;
	height: 200px;
	img{
		width: 100%;
		height: 100%;
	}
}
.card__location{
	padding: 15px 0;
	margin: 0;
}
.card__map{
	padding-right: 0;
	.pd-maps-box{
		height: 110px;
	}
	@media(max-width: 580px){
		padding-left: 8px;
	}
}
.card__infowrap{
	h5{
		font-weight: bold;
		margin-bottom: 15px;
	}
	.card__desc{
		color: #637381;
		padding-top: 2px;
		height: 45px; 
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		@media(max-width: 580px){
			margin: 0;
			line-height: 15px;
			height: auto;
			max-height: 75px;
		}
	}
	@media(max-width: 580px){
		padding-left: 8px;
		padding-right: 8px;
	}
}
.card__info{
	color: #a4a4a4;
	@media(max-width: 580px){
		display: none;
	}
	span, p{
		display: inline-block;
		color: #a4a4a4;
	}
	span{
		margin-right: 5px;
	}
}
.card__info--mobile{
	display: none;
	padding-top: 15px;
    height: 30px;
	@media(max-width: 580px){
		display: block;
	}
}
.card__pricewrap{
	width: 100%;
	padding: 15px;
	border-top: solid 1px #e4e4e4;
	border-bottom: solid 1px #e4e4e4;
	h2, h3{
		color: #ffb757;
		margin: 0;
		font-weight: bold;
	}
	p{
		margin: 0 0 10px;
		font-weight: bold;
	}
	span{
		color: #637381;
		font-size: 15px;
		vertical-align: middle;
		font-weight: normal;
	}
	img,svg{
		position: absolute;
		width: 35px;
		height: 35px;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
	}
}
.card__pricewrap--row{
	border: none;
	height: 100%;
}
.card__price-middle{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.card__modalinfo{
	padding: 15px;
}
.card__modallocation{
	margin: 0 -15px;
}
.card__modallocation-content{
	img,svg{
		display: inline-block;
	}
	span{
		vertical-align: text-top;
		font-size: 14px;
		color: #a4a4a4;
	}
}
.card__row{
	.card__desc{
		height: 29px;
		padding-right: 10px;
	}
}