.general--modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.8);
  display: none;
  .panel{
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  .mt--body{
    line-height: 1.5em;
  }
  &.info{
    .modal-container{
      border-color: #2f80e7;
    }
    .modal--info{
      display: block;
    }
  }
  &.error{
    .modal-container{
      border-color: #f05050;
    }
    .modal--error{
      display: block;
    }
  }
  &.confirmation{
    .modal-container{
      border-color: #32ac8e;
    }
    .modal--confirmation{
      display: block;
    }
  }
  &.confirmation--notes{
    .modal-container{
      border-color: #32ac8e;
    }
    .modal--confirmation--notes{
      display: block;
    }
  }
  .modal-container{
    max-width: 480px;
    width: calc(100% - 20px);
    height: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    padding: 24px;
  }
  .modal--child{
    width: 100%;
    min-height: 120px;
    display: none;
    padding-top: 24px;
  }
  .close--modal{
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 8px;
    opacity: 0.6;
    font-size: 16px;
    transition: 0.6s ease ;
    &:hover{
      opacity: 1;
    }
  }
  .modal--img{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
  }
  .modal--info{
    .modal--img{
      color: #2f80e7;
    }
  }
  .modal--error{
    .modal--img{
      color: #f05050;
    }
  }
  .modal--text{
    text-align: center;
    .mt--head{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    .mt--body{
      font-size: 13px;
    }
  }
  .modal--button{
    margin-top: 32px;
    text-align: center;
    button{
      display: inline-block;
      & + button{
        margin-left: 24px;
      }
    }
  }
  .mt--notes{
    padding-top: 24px;
    text-align: left;
    textarea{
      width: 100%;
      resize: none;
      border-radius: 3px;
    }
  }
}
