.general--modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(30, 48, 97,0.6);
  display: none;
  overflow-x: none;
  overflow-y: auto;
  .panel{
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  .mt--body{
    line-height: 1.5em;
  }
  &.info{
    .modal-container{
      border-color: #2f80e7;
    }
    .modal--info{
      display: block;
    }
    .close--modal{
      display: none;
      &.close--custom{
        display: block;
      }
    }
  }
  &.error{
    .modal-container{
      border-color: #f05050;
    }
    .modal--error{
      display: block;
    }
    .close--modal{
      display: none;
      &.close--custom{
        display: block;
      }
    }
  }
  &.confirmation{
    .modal-container{
      border-color: #32ac8e;
    }
    .modal--confirmation{
      display: block;
    }
    .close--modal{
      display: none;
      &.close--custom{
        display: block;
      }
    }
  }
  &.success{
    .modal-container{
      border-color: #73BD67;
    }
    .modal--success{
      display: block;
    }
    .close--modal{
      display: none;
      &.close--custom{
        display: block;
      }
    }
  }
  &.login{
    .modal--login{
      display: block;
    }
    .close--modal{
      display: none;
      &.close--custom{
        display: block;
      }
    }
  }

  &.register{
    .modal--register{
      display: block;
    }
    .close--modal{
      display: none;
      &.close--custom{
        display: block;
      }
    }
  }

  &.forgot{
    .modal--forgot{
      display: block;
    }
    .close--modal{
      display: none;
      &.close--custom{
        display: block;
      }
    }
  }

  &.sent{
    .modal--sent{
      display: block;
    }
    .close--modal{
      display: none;
      &.close--custom{
        display: block;
      }
    }
  }

  .modal-container{
    max-width: 530px;
    width: calc(100% - 20px);
    height: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    padding: 24px 50px;
    margin-top: 25px;
    @media(max-width: 568px){
      top: 50px;
      transform: translateX(-50%);
      padding: 16px 12px;
      width: calc(100% - 50px);
    }
  }
  .modal--child{
    width: 100%;
    min-height: 120px;
    display: none;
    padding-top: 24px;
  }
  .close--modal{
    cursor: pointer;
    position: absolute;
    font-size: 16px;
    transition: 0.6s ease ;
    opacity: 0.6;
    right: -27px;
    top: -27px;
    opacity: 1;
    img,svg{
      width: 60px;
      height: 60px;
    }
  }
  .modal--img{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
  }
  .modal--info{
    .modal--img{
      color: #2f80e7;
    }
  }
  .modal--error{
    .modal--img{
      color: #f05050;
    }
  }
  .modal--success{
    .modal--img{
      color: #73BD67;
    }
  }
  .modal--text{
    text-align: center;
    .mt--head{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    .mt--body{
      font-size: 13px;
    }
  }
  .modal--button{
    margin-top: 32px;
    text-align: center;
    button{
      display: inline-block;
      & + button{
        margin-left: 24px;
      }
    }
    .modal--button-full{
      width: 100%;
    }
    .modal--button-half{
      width: 45%;
    }
  }
  .mt--notes{
    padding-top: 24px;
    text-align: left;
    textarea{
      width: 100%;
      resize: none;
      border-radius: 3px;
    }
  }
}

.modal-title{
  text-align: center;
  margin-bottom: 50px;
  @media(max-width: 568px){
    margin-bottom: 24px;
    font-size: 20px;
  }
}
.modal-or{
  position: relative;
  text-align: center;
  padding: 35px 0;
  &:after, &:before{
    position: absolute;
    top: 50%;
  }
  &:before{
    content: "";
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
  }
  &:after{
    content: "ATAU";
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 0 8px;
    background-color: white;
    font-size: 12px;
    color: #e4e4e4;
  }
}
.modal-btn{
  width: 100%;
  margin: 32px 0 24px;
}
.modal-smregis{
  border-top: 1px solid #e4e4e4;
  padding: 24px 0;
  font-size: 15px;
  text-align: center;
  a{
    color: #5b8ef4;
  }
}

// social media modal
.modal-sosmed{
  margin-top: 30px;
}
.modal-sosmed__wrapper{
  padding-left: 0;
  & + &{
    padding-right: 0;
  }
  @media(max-width: 568px){
    padding-right: 0;
    margin-bottom: 4px;
    & + &{
      margin-bottom: 0;
    }
  }
}
.log-sosmed{
  padding: 8px;
  width: 100%;
  &.log-sosmed__facebook{
    border: 1px solid #49639e;
    .log-sosmed__icon{
      background-color: #49639e;
    }
    .log-sosmed__text{
      color: #49639e;
    }
  }
  &.log-sosmed__google{
    border: 1px solid #da4b42;
    .log-sosmed__icon{
      background-color: #da4b42;
    }
    .log-sosmed__text{
      color: #da4b42;
    }
  }
}
.log-sosmed__icon{
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}
.log-sosmed__text{
  padding-left: 4px;
  vertical-align: middle;
}

// modal form
.modal-form{
  .form-group{
    margin-bottom: 30px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

.open--login, .open--register, .open--forgot{
  cursor: pointer;
}
.mt--forgot{
  margin-bottom: 50px;
}

.modal-pd-head{
  width: 100%;
  background-color: white;
  padding-top: 24px;
  & > .container{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row ;
    @media (max-width: 600px){
      display: block;
    }
  }
  .modal-pd-description{
    width: 70%;
    @media (max-width: 993px){
      width: 50%;
    }
    @media (max-width: 600px){
      width: 100%;
      display: block;
      margin-bottom: 18px;
    }
    span{
      font-size: 15px;
      line-height: 1;
      text-align: left;
      color: #a4a4a4;
    }
  }
  .modal-pd-desc-label{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: #3d3d3d;
    margin-bottom: 8px;
  }
  .modal-pd-filter{
    width: 30%;
    text-align: right;
    @media (max-width: 993px){
      width: 50%;
    }
    @media (max-width: 600px){
      width: 100%;
      display: block;
      text-align: center;
    }
    .modal-pd-filter-inner{
      background-color: #ffffff;
      border: solid 1px #e9e9e9;
      display: inline-block;
      white-space: nowrap;
      text-align: right;
      li{
        display: inline-block;
        padding: 10px 10px 10px 16px;
        border-right: 1px solid #e9e9e9;
        cursor: pointer;
        margin: 0px;
        transition: 0.4s ease ;
        &.active{
          p{
            color: $blue;
          }
          g{
            stroke : $blue;
          }
        }
        p{
          font-size: 15px;
          line-height: 1;
          color: #3d3d3d;
          margin: 0px;
          margin-bottom: -5px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
          transition: 0.3s ease ;
        }
        img , svg{
          display: inline-block;
          vertical-align: middle;
          width: 30px;
          g{
            transition: 0.3s ease ;
          }
          & + img , & + svg{
            padding-left:  8px;
            border-left: 1px solid #e9e9e9;
          }
        }
        &:last-child{
          border-right: 1px solid transparent ;
        }
        &.modal-pd-double{
          padding-left: 12px;
          div{
            display: inline-block;
            &:hover{
              g{
                stroke : $orange ;
              }
            }
          }
          div{
            & + div{
              padding-left: 4px;
              border-left: solid 1px #e4e4e4;
            }
          }
        }
        &.mpd-single{
          &:hover{
            p{
              color: $orange ;
            }
            g{
              stroke : $orange ;
            }
          }
        }
      }
    }
  }
}
.modal-pd-body{
  position: relative;
  height: calc(100% - 102px);
  position: relative;
  transition: 0.4s ease ;
  display: none;
  &.active{
    display: block;
  }
  &.filter-show{
    opacity: 0.3;
  }
}
.modal-filter-body{
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 4;
  border-top: solid 1px #e4e4e4;
  border-bottom: solid 1px #e4e4e4;
  transform-origin: top;
  will-change: transform;
  transform: scaleY(0);
  transition: 0.4s ease 0.4s ;
  & > .container {
    opacity: 0;
    transition: 0.4s ;
  }
  .modal-primary-filter{
    min-height: 90px;
    position: relative;
    padding-top: 10px;
    width: 100%;
    .filter-reset{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      button{
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 10px;
        padding-right: 13px;
        font-size: 15px;
        text-transform: capitalize;
        i{
          margin-right: 8px;
        }
      }
    }
  }
  &.filter-show{
    transform: scale(1);
    transition: 0.4s ease ;
    & > .container{
      opacity: 1 ;
      transition: 0.4s ease 0.4s ;
    }
  }
  .filter-menu-box{
    display: inline-flex;
    padding: 10px 20px ;
    border: 1px solid #e4e4e4 ;
    border-top: 0px solid transparent ;
    border-bottom: 0px solid transparent ;
    position: relative;
    margin-right: -5px;
    cursor: pointer;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      height: 4px;
      left: -1px;
      right: -1px;
      background-color: $blue ;
      opacity: 0;
      transition: 0.3s ease ;
    }
    &:before{
      content: '';
      background: linear-gradient(to bottom, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      height: 100%;
      z-index: 1;
    }
    .fmb-inner{
      transition: 0.4s ease ;
      opacity: 0.3;
      position: relative;
      z-index: 2;
    }
    .fmb-img{
      width: 48px;
      height: 48px;
      path , text {
        fill : #292b2c;
        transition: 0.3s ease ;
      }
      circle {
        stroke : #292b2c;
        transition: 0.3s ease ;
      }
    }
    .fmb-label{
      margin-top: 8px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      span{
        display: block;
      }
    }
    &:hover{
      .fmb-inner{
        opacity: 1;
      }
    }
    &.active{
      &:after{
        opacity: 1;
      }
      .fmb-inner{
        opacity: 1 ;
      }
      .fmb-label span {
        color: $blue ;
      }
      .fmb-img{
        path , text {
          fill : $blue ;
        }
        circle{
          stroke : $blue ;
        }
      }
    }
  }
  .modal-child-filter{
    width: 100%;
    height: 94.9px;
    background-color: #f9f9fb;
    border-top: solid 1px #e4e4e4;
    border-bottom: solid 1px #e4e4e4;
    position: relative;
    @media (max-width : 768px){
      height: auto ;
      .mcf-action.row.active{
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transform: translate( 0, 0);
        display : block ; 
        .slider-group{
          margin-top: 24px;
          margin-bottom: 24px;
        }
      }
    }
    .mcf-action{
      width: 100%;
      opacity: 0 ;
      z-index: 0;
      visibility: hidden;
      &.active{
        opacity: 1;
        z-index: 1;
        visibility: visible;
      }
      .form-group{
        margin-bottom: 0px;
      }
      .middle-v{
        top: 70%;
        width: calc(100% - 40px);
      }
    }
    & > .row{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

    }
  }
  .modal-filter-footer{
    position: relative;
    width: 100%;
    height: 70px;
    .close-filter{
      position: absolute;
      right: 0;
      top: 14px;
      cursor: pointer;
      p{
        color: $blue ;
        font-weight: 600;
      }
    }
  }
}
