// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer-container{
  width: 100%;
  background-color: #282834;
  padding: 38px 0px;
  .footer-body{
    padding-top: 32px;
    padding-bottom: 22px;
    ul{
      display: inline-block;
      width: 100%;
      li{
        display: block;
        margin-bottom: 12px;
        font-size: 12px;
        letter-spacing: 1px;
        text-align: left;
        color: #a4a4a4;
        line-height: 1.25em;
        transition: 0.3s ease ;
      }
      & > li {
        color: #ffffff;
        letter-spacing: 2px;
      }
      a{
        &:hover{
          li{
            color: $orange ;
          }
        }
      }
    }
    @media(max-width: 768px){
      .col-md-2{
        padding-left: 8px;
        padding-right: 8px;
        span{
          display: block;
          margin-bottom: 4px;
        }
      }
    }
    @media(max-width: 580px){
      padding-bottom: 8px;
      .col-md-2{
        padding-left: 15px;
        padding-right: 15px;
        span{
          display: inline-block;
          margin-bottom: 0;
        }
      }
      .col-md-4{
        margin-top: 42px;
        ul, li{
          margin: 0;
        }
      }
      ul{
        li{
          text-align: center;
        }
      }
    }
  }
  .footer-breadcrumbs{
    position: relative;
    padding-top: 32px;
    border-top: solid 1px #3a3a4b;
    @media(max-width: 580px){
      padding-bottom: 32px;
    }
  }
  .copyright{
    font-size: 12px;
    font-weight: 400;
    color: #a4a4a4;
    @media(max-width: 580px){
      position: absolute;
      bottom: 0;
      text-align: center;
    }
  }
  .social-media-container{
    display: inline-block;
    white-space: nowrap;
    .social-media-circle{
      display: inline-block;
      width: 36px;
      height: 36px;
      background-color: #3a3a4b;
      border-radius: 50%;
      color: white;
      text-align: center;
      cursor: pointer;
      margin-left: 21px;
      transition: 0.3s ease ;
      span{
        line-height: 40px;
      }
      &:hover{
        color: $orange ;
      }
    }
    @media(max-width: 580px){
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  @media(max-width: 580px){
    .col-sm-12{
      text-align: center;
    }
  }
}
