@charset 'UTF-8';
// SASS Boiler plate by https://github.com/HugoGiraudel/sass-boilerplate

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/styleguide';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers',
  'base/utilities';


// This part is for using tachyon, uncomment this if you are want to use it
// @import
//   'tachyon';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
