.cp{
	padding-top: 75px;
}
.cp__banner{
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	&:before{
		content: '';
		position: relative;
		display: inline-block;
		padding-top: 15%;
	}
	h1, h3{
		color: #fff;
	}
	h1{
		margin-bottom: 30px;
	}
	span{
		font-size: 32px;
		font-weight: bold;
		margin-right: 10px;
	}
	h3{
		margin-bottom: 0;
		font-weight: normal;
	}
}
.cp__banner-text{
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	transform: translateY(-40%);
	margin: auto;
}
.cp__container{
	margin: -50px 0 100px;
}
.cp__wrapper{
	margin: 0 -20px;
}
.cp__content{
	padding: 0 20px;
}
.cp__content-wrap{
	text-align: center;
	border-radius: 4px;
  	background-color: #ffffff;
  	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
  	padding: 30px;
  	cursor: pointer;
  	transition: transform 0.3s ease;
  	&:hover{
		transform: translateY(-10px);
		box-shadow: 0px 6px 10px 0px rgba(63,63,68,0.15);
		.card__pricewrap{
			svg{
				circle{
					fill: #5b8ef4;
					stroke: #fff;
				}
				path{
					stroke: #fff;
				}
			}
		}
	}
  	h3{
  		margin: 15px 0 10px;
  	}
  	p{
  		display: block;
  		font-size: 15px;
  		max-width: 80%;
		margin: 0 auto 10px;
		color: #637381;
		line-height: 1.33;
  	}
}
.cp__icon{
	width: 80px;
	height: 80px;
}