.op-detail__head{
	background-position: center;
	&:after{
		background-color: rgba(0, 0, 0, 0.15);
	}
}
.op-detail__headcontent{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	p, h1, h3{
		color: #fff;
	}
	p{
		font-size: 18px;
		margin-bottom: 25px;
	}
	h1{
		font-size: 32px;
		margin-bottom: 18px;
	}
	img, svg{
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-right: 8px;
		margin-bottom: -3px;
		path, rect{
			fill: #fff;
		}
		rect[width="16"]{
			fill: none;
			stroke: #fff;
		}
	}
}
.op-detail__info{
	position: relative;
	top: -85px;
	@media(max-width: 768px){
		top: 0;
		margin: 24px 0;
		.col-md-8{
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
}
.op-detail__info-top, .op-detail__info-bottom{
	padding: 10px 16px;
	border: 1px solid #e4e4e4;
	background-color: #fff;
	height: 85px;
	&.info-top--blue{
		background-color: #5b8ef4;
		border-color: #5b8ef4;
		p, h3{
			color: white;
		}
		p{
			font-weight: normal;
		}
		h3{
			bottom: 5px;
		}
	}
}
.op-detail__infoprofile{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #f0f0f0;
	padding: 4px;
	border-radius: 50%;
	img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}
.op-detail__infoprofiledesc{
	display: inline-block;
	position: relative;
	height: 60px;
	margin-left: 8px;
	vertical-align: middle;
	p, h5, h3{
		display: inline-block;
		margin: 0;
	}
	h5, h3{
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 300px;
		vertical-align: bottom;
	}
	p{
		position: absolute;
		top: 10px;
		left: 0;
		color: #5b8ef4;
		width: 300px;
		font-weight: bold;
		font-size: 15px;
	}
	&.op-detail__infoprofiledesc--price{
		width: 100%;
		margin: 0;
		h5, h3, p{
			width: auto;
			right: 0;
		}
	}
}
.op-detail__info-bottom{
	padding: 24px 16px;
	border-top: none;
	height: auto;
	.social-share-container{
		margin-top: 0;
	}
	.qty-form{
		margin: 10px auto;
	}
	.info-bottom__participate{
		margin-top: 30px;
	}
	b{
		font-weight: bold;
	}
	.op-detal__btn{
		width: 100%;
	}
	&.op-detail__info-bottom--mobile{
		display: none;
	}
	@media(max-width: 768px){
		.social-share-container{
			display: none;
		}
		&.op-detail__info-bottom--mobile{
			display: block;
			background-color: transparent;
			border: none;
			padding: 0 0 16px;
			.social-share-container{
				display: block;
				margin-bottom: 0;
				text-align: center;
			}
			.social-circle{
				width: 40px;
				height: 40px;
				display: inline-block;
				font-size: 20px;
				line-height: 46px;
			}
		}
	}
}
.op-destinasi.plan-destinasi{
	.plan-destinasi-main-body{
		margin-right: 0;
		width: calc(100% - 16px - 60px);
	}
}
.plan-destinasi-detail.plan-destinasi{
	.plan-destinasi-main-body{
		width: calc(65% - 16px - 60px);
	}
}
.op-wrap{
	margin: 0 -10px;
	padding-bottom: 40px;
	@media(max-width: 768px){
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
		margin: 0;
	}
}
.op-infowrap{
	padding: 16px 0;
	.card__infowrap{
		padding: 0 16px;
	}
	.col-md-6{
		padding: 0;
	}
	.card__info{
		p{
			margin: 0;
		}
	}
}
.op-wrap__nowrap{
	.rp__content{
		float: left;
		display: inline-block;
	}
	@media(max-width: 768px){
		white-space: nowrap;
		.rp__content{
			width: 400px;
			display: inline-block;
			flex: none;
			max-width: 100%;
			.card__infowrap{
				max-width: 100%;
				flex: 0 0 100%;
			}
		}
		.card__desc{
			white-space: normal;
			height: 45px;
			margin-bottom: 4px;
		}
	}
	@media(max-width: 568px){
		.rp__content{
			width: 350px;
			padding: 10px 4px;
			float: none;
			.card__modallocation-content{
				padding: 0;
				padding-right: 4px;
				vertical-align: middle;
			}
		}
	}
}
.op-detail__price{
	@media(max-width: 768px){
		display: none;
	}
}
.plan-destinasi.op-plan-destinasi{
	@media(max-width: 800px){
		.row{
			text-align: left;
		}
		.plan-destinasi-date{
			display: block;
			width: 100%;
			text-align: center;
		}
		.plan-destinasi-main-body{
			display: block;
			width: 100%;
		}
	}
}
.detail-price{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: 6;
	display: none;
	@media(max-width: 768px){
		display: block;
	}
	&.active{
		.detail-price__participant{
			display: block;
		}
		.detail-price__value{
			span{
				transform: rotate(180deg);
			}
		}
	}
}
.detail-price__overlay{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 5;
	&.active{
		display: block;
	}
}
.detail-price__wrapper{
	position: relative;
	padding: 16px;
}
.detail-price__value{
	position: relative;
	padding: 8px 0;
	margin-bottom: 8px;
	.col-6{
		padding: 0;
		&:last-child{
			text-align: right;
			color: #73bd67;
		}
	}
	span{
		margin-left: 4px;
		color: #C0C0C1;
		transition: 0.3s ease;
	}
}
.detail-price__button{
	width: 100%;
	vertical-align: middle;
	span{
		display: inline-block;
		vertical-align: text-top;
		font-size: 24px;
		margin-right: 4px;
	}
}
.detail-price__participant{
	display: none;
	.op-detail__info-bottom{
		border: none;
		padding: 0;
		.info-bottom__participate{
			margin-top: 0;
		}
	}
}
