// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
// banner section
.home-banner{
	position: relative;
	margin-top: -60px;
}
.home-banner__slider{
	width: 100%;
	min-height: 600px;
	.swiper-pagination{
		bottom: 50px;
	}
	.swiper-button-prev, .swiper-button-next{
		background: none;
		margin-top: 0;
		top: 55%;
		transform: translateY(-55%);
		img, svg{
			width: 65px;
			height: 65px;
		}
	}
	.swiper-button-prev{
		left: 50px;
	}
	.swiper-button-next{
		right: 50px;
	}
}
.home-pagination{
	.swiper-pagination-bullet{
		background-color: #fff;
		opacity: 1;
	}
	.swiper-pagination-bullet-active{
		background-color: #ffb757;
		width: 12px;
		height: 12px;
		position: relative;
		top: 2px;
	}
}
.home-banner__wrapper{
	width: 100%;
	position: relative;
	min-height: 600px;
}
.home-banner__img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}
.home-banner__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
.home-banner__title{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3em;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	letter-spacing: 1.5px;
	word-spacing: 5px;
}
.home-banner__subtitle{
	display: inline-block;
	position: relative;
	padding: 5px 0;
	border-bottom: 3px solid #fff;
	span{
		font-size: 1em;
	}
}
.home-datetime{
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%); 
	z-index: 2;
}
.home-datetime__wrapper{
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
}
.home-datetime__choose{
	padding: 5px 0;
	background-color: #fff;
	border-radius: 4px 0 0 4px;
	position: relative;
	.form-group{
		position: relative;
		margin: 0;
		z-index: 2;
		select, input{
			border: none;
			outline: none;
		}
		.select{
			&:after{
				content: none;
			}
		}
	}
}
.daterangepicker_input{
	display: none;
}
.home-datetime__choose--middle{
	border-radius: 0;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.home-datetime__choose--last{
	border-radius: 0 4px 4px 0;
}
.home-datetime__qty{
	position: absolute;
	top: 0;
	transform: translateY(0);
	transition: all 0.3s ease;
	opacity: 0;
	z-index: 1;
	&.home-datetime__qty--active{
		transform: translateY(70px);
		opacity: 1;
	}
	.qty-form{
		width: 200px;
		height: auto;
	}
	.home-datetime__qty-form{
		margin: 0 35px;
	}
}
.home-datetime__qty-btn{
	margin-top: 10px;
	display: block;
	text-align: center;
}
.home-datetime__btn{
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	z-index: 2;
	.btn{
		height: 100%;
		padding: 8px 25px;
		font-size: 14px;
	}
}

// home content
.home-wrapper{
	padding: 60px 0 120px;
	background-color: #f9f9fb;
	border: solid 1px #e4e4e4;
}
.home-wrapper__title{
	position: relative;
	line-height: 1.25;
	text-align: center;
	color: #3d3d3d;
	padding: 0 0 10px;
	margin-bottom: 50px;
	&:after{
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 300px;
		height: 5px;
		background-color: #ffb757;
	}
}
.home-slider{
	width: 100%;
	height: 400px;
	background-color: #fcfdff;
  	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.05);
}
.home-slider__imgslider{
	height: 400px;
	overflow: hidden;
	.swiper-slide{
		opacity: 0 !important;
	}
	.swiper-slide-active{
		opacity: 1 !important;
	}
}
.home-slider__slideimg{
	padding: 10px 50px;
	img{
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}
.home-slider__wrap{
	margin-top: 15%;
	margin-right: 25px;
	padding: 15px;
	height: 375px;
	.swiper-pagination{
		right: 40px;
	}
	.swiper-pagination-bullet{
		background-color: #e8e8e8;
	}
	.swiper-pagination-bullet-active{
		background-color: #ffb757;
		right: 2px;
	}
}
.home-slider__content{
	width: 100%;
	height: 375px;
	padding: 50px;
	overflow: hidden;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	p{
		font-size: 15px;
		line-height: 1.67;
		color: #637381;
		margin-left: -5px;
	}
}
.home-slider__number{
	font-size: 48px;
	margin-bottom: 45px;
	position: relative;
	display: inline-block;
	&:after{
		content: '';
		display: inline-block;
		background-image: url('../images/icon/home-water.svg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 30px;
		height: 15px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -15px;
	}
}
.home-slider__title{
	font-weight: normal;
	margin-left: -5px;
}
.home-gridview__big{
	margin-bottom: 20px;
}
.home-biggrid{
	position: relative;
	width: 100%;
	padding: 30px 15px;
	height: 250px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	cursor: pointer;
	h3{
		color: #fff;
		letter-spacing: 1.1px;
	}
	&:hover{
		.home-biggrid__default{
			transform: translateY(100%);
		}
		.home-biggrid__hover{
			transform: translateY(0);
		}
	}
}
.home-biggrid__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.home-biggrid__default{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px 15px;
	transform: translateY(0);
	transition: transform 0.3s ease;
	will-change: transform;
}
.home-biggrid__hover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px 15px;
	background-color: rgba(30, 30, 30, 0.8);
	transform: translateY(-100%);
	transition: transform 0.3s ease;
	will-change: transform;
	p{
		color: #fff;
		font-size: 15px;
  		line-height: 1.33;
  		position: relative;
  		display: block;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		height: 75px;
	}
}
.home-biggrid__price, .home-biggrid__pricehover{
	position: absolute;
	top: 70%;
	transform: translateY(-70%);
	width: 100%;
	span{
		display: block;
		font-family: 'Hind Guntur', sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		letter-spacing: 1.1px;
		margin-bottom: 8px;
	}
	p{
		font-size: 32px;
		color: #ffb757;
		font-weight: bold;
	}
}
.home-biggrid__pricehover{
	position: relative;
	top: 0;
	transform: none;
	img{
		position: absolute;
		top: 10px;
		right: 15px;
	}
}
.home-biggrid__infowrap{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.home-biggrid__info{
	display: inline-block;
	margin-right: 25px;
	span{
		display: inline-block;
		color: #fff;
		margin-right: 5px;
	}
	p{
		display: inline-block;
		color: #fff;
		font-weight: bold;
	}
}
.home-smallgrid{
	position: relative;
	width: 100%;
	padding: 15px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	cursor: pointer;
	&:after{
		content: "";
		position: relative;
		display: inline-block;
		padding-top: 66.6666%;
	}
	&:hover{
		.home-smallgrid__default{
			transform: translateY(100%);
		}
		.home-smallgrid__hover{
			transform: translateY(0);
		}
	}
}
.home-smallgrid__default{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	transform: translateY(0);
	transition: transform 0.3s ease;
	will-change: transform;
}
.home-smallgrid__hover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	background-color: rgba(30, 30, 30, 0.8);
	transform: translateY(-100%);
	transition: transform 0.3s ease;
	will-change: transform;
}
.home-smallgrid__wrapper{
	position: absolute;
	bottom: 0;
	h5{
		color: #fff;
		letter-spacing: 1.1px;
	}
}
.home-shadow__left{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20%;
	height: 100%;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	z-index: 1;
	img{
		display: inline-block;
		width: 54px;
		height: 54px;
		position: absolute;
		top: 50%;
		left: 20%;
		transform: translate(-20%, -50%);
		cursor: pointer;
	}
}
.home-shadow__right{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 20%;
	height: 100%;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	z-index: 1;
	img{
		display: inline-block;
		width: 54px;
		height: 54px;
		position: absolute;
		top: 50%;
		left: 80%;
		transform: translate(-80%, -50%);
		cursor: pointer;
	}
}
.home-overflowview{
	width: 100%;
	padding: 20px 0;
}
.home-rp__slider, .card__slider{
	overflow-y: visible;
	overflow-x: hidden;
}
.home-wrapper__plan{
	background-size: cover;
	background-repeat: no-repeat;
	border: none;
}
.home-plan__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(91, 142, 244, 0.86);
}
.home-plan__image{
	text-align: right;
}
.home-plan__text{
	padding-top: 30px;
	max-width: 300px;
	h2{
		color: #fff;
		font-weight: 500;
		margin-bottom: 20px;
	}
	p{
		font-size: 15px;
  		line-height: 1.67;
  		color: #fff;
  		margin-bottom: 20px;
	}
}

.home-wrapper__calendar{
	background-size: cover;
	background-position: bottom bottom;
	background-repeat: no-repeat;
}
.calendar__filter-wrap{
	margin: 0 -15px;
}
.calendar__container{
	max-width: 850px;
	margin: 0 auto;
}
.calendar__filter{
	margin-bottom: 20px;
}
.calendar__content{
	border: 1px solid #e4e4e4;
	padding-top: 30px;
	background-color: #fff;
}