.word-navigation{
  width: calc(65% + 60px);
  border-bottom: solid 1px #e4e4e4;
  margin-bottom: 20px;
  ul{
    margin: 0px;
    li{
      font-weight: 300;
      font-size: 18px;
      line-height: 1;
      text-align: left;
      color: #a4a4a4;
      padding-right: 12px;
      padding-bottom: 10px;
      padding-top: 14px;
      margin-right: 40px;
      display: inline-block;
      &.active{
        font-weight: 700;
        color: #5b8ef4;
        border-bottom: 4px solid  #5b8ef4;
      }
    }
  }
}

.img-square-box{
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  &:after{
    content: '';
    display: block;
    padding-top: 100%;
  }
  img{
    height: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50% , -50%);
  }
}

.img-round-box{
  width: 100%;
  border-radius: 50%;
  border: solid 4px #f0f0f0;
  overflow: hidden;
  position: relative;
  &:after{
    content: '';
    display: block;
    padding-top: 100%;
  }
  img{
    height: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50% , -50%);
  }
}

.itinerary{
  .container-body{
    padding-top: 36px;
  }
  .plan-destinasi-mb-inner{
    padding: 24px 16px;
    .row{
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  .itn-text{
    p{
      line-height: 1.33;
      text-align: left;
      color: #637381;
      font-weight: 300;
      margin: 0px;
    }
    margin-bottom: 24px;
  }
  .itn-content{
    margin-bottom: 70px;
  }
  .point-square-bottom{
    margin-bottom: 100px;
    margin-top: 24px;
  }
  .itn-body-child{
    padding: 16px;
    background-color: #f9f9fb;
    border: solid 1px #e4e4e4;
  }
  .pd-cp-box{
    &.label{
      text-align: center;
      display: block;
      h5{
        color: white;
        display: block;
        margin-bottom: 14px;
      }
      p{
        display: block;
        font-size: 15px;
        line-height: 1;
        text-align: center;
        color: #ffffff;
        font-weight: 300;
        text-transform: none;
      }
    }
  }
  .pd-cp-itn{
    padding: 24px 16px;
    padding-bottom: 0px;
    p{
      margin-bottom: 4px;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.2;
      text-align: left;
      color: #5b8ef4;
      & + p{
        font-size: 18px;
        line-height: 1;
        text-align: left;
        color: #3d3d3d;
        margin-bottom: 0px;
        font-weight: 300;
      }
    }
    .row{
      margin-left: -15px;
      margin-right: -15px;
      align-items: center;
      .col-md-8{
        padding-left: 0px;
      }
    }
  }
  .pd-cp-itn-footer{
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    margin-top: 24px;
    .itn-foot-box{
      position: relative;
      height: 60px;
      border: solid 1px #e4e4e4;
        flex-grow: 1;
        cursor: pointer;
        &:hover{
          svg{
            g{
              fill : $orange;
            }
          }
          p{
            color: $orange ;
          }
        }
    }
    .itn-foot-inner{
      display: flex;
      align-items: center;
      white-space: nowrap;
      p , img {
        margin-bottom: 0px;
      }
      p{
        margin-left: 8px;
        margin-top: 4px;
      }
    }
  }
}
