.konfirmasi_pembayaran{
  min-height: 100vh ;
  padding-bottom : 64px;
  h3{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .dashpanel{
    max-width: 500px;
    margin: auto;
    padding: 32px;
  }
  .form-group{
    margin-bottom: 32px;
  }
  button{
    margin-top: 64px;
  }
}
