.plan-destinasi-board{
   background-color: #ffffff;
   padding: 16px 0px;
   box-shadow: inset 0 -1px 0 0 #dfe4e8;
   position: fixed;
   left: 0;
   right: 0;
   top: 60px;
   z-index: 3;
   .plan-destinasi-board-box{
     display: inline-block;
     margin-right: 120px;
     vertical-align: middle;
     .label{
       font-size: 12px;
       font-weight: 700;
       line-height: 1;
       color: #5b8ef4;
       margin-bottom: 8px;
       text-transform: uppercase;
     }
     .value{
       font-size: 24px;
       line-height: 1;
       color: #3d3d3d;
       text-transform: capitalize;
     }
   }
   .plan-destinasi-board-action{
     position: absolute;
     font-size: 15px;
     font-weight: 700;
     text-align: left;
     color: #5b8ef4;
     right: 20px;
     top: 50%;
     transform: translateY(-50%);
     text-transform: uppercase;
   }
}

.plan-destinasi{
  padding-top: 110px;
  & > h3 {
    margin-bottom: 35px;
  }
  .row{
    margin: 0px;
    align-items: flex-start;
  }
  .plan-destinasi-date{
    width: 60px;
    margin-right: 16px;
  }
  .pd-date-block{
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    background-color: #efefef;
    border-bottom: solid 1px #DDDDDD;
    position: relative;
    z-index: 1;
    &:last-child{
      border-bottom: 1px solid transparent;
    }
    &.active{
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
      z-index: 2;
    }
  }
  .pd-date-days{
    @include popins ;
    font-size: 22px;
    line-height: 1.09;
    color: #3d3d3d;
    margin-bottom: 6px;
  }
  .pd-date-month{
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    color: #3d3d3d;
    text-transform: uppercase;
  }
  .plan-destinasi-main-body{
    width: calc(65% - 16px);
    margin-right: 16px;
  }
  .plan-destinasi-mb-inner{
    width: 100%;
    display: block;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
  }
  .pd-mb-head{
    display: flex;
    flex-direction: row;
    width: 100%;
    counter-reset: section;
  }
  .pd-mb-step{
    background-color: #f9f9fb;
    border-right: solid 1px #e9e9eb;
    flex-grow: 1;
    padding: 10px;
    cursor: default;
    &:last-child{
      border-right: 0px solid transparent;
    }
    &:before{
      content:attr(step);
      width: 32px;
      height: 32px;
      border: solid 2px #9e9e9e;
      color: #9e9e9e;
      border-radius: 100%;
      display: block;
      margin: auto;
      font-size: 15px;
      text-align: center;
      line-height: 24px;
      @include popins ;
      margin-bottom: 10px;
    }
    p{
      line-height: 0.93;
      text-align: center;
      color: #9e9e9e;
      text-transform: uppercase;
      margin: 0px;
    }
    &.active{
      background-color: #ffffff;
      border-bottom: 4px solid #5b8ef4;
      p{
         color: #5b8ef4;
      }
      &:before{
        border: solid 4px #5b8ef4;
        color: #5b8ef4;
      }
    }
  }
  .pd-mb-body{
    padding: 16px;
    min-height: 240px;
    .empty-state{
      width: 100%;
      height: 240px;
      background-color: #f9f9fb;
      position: relative;
      h5{
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.6px;
        text-align: center;
        color: #3d3d3d;
      }
    }
    .btn-add{
      width: 100%;
      margin-top: 24px;
      p{
        color: #3d3d3d;
      }
    }
  }
  .plan-destinasi-cart-price{
    width: calc(35% - 76px) ;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
  }
  .pd-cp-box{
    width: 100%;
    background-color: white ;
    text-align: center;
    padding: 16px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #e9e9eb;
    padding-bottom: 12px;
    p{
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      margin: 0px;
    }
    &.label{
      background-color: #5b8ef4;
      p{
        color: #ffffff;
      }
    }
    & > div{
      flex-grow: 1 ;
      &.pd-cp-text-label{
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        color: #3d3d3d;

      }
      &.pd-cp-text-number{
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        color: #a4a4a4;
      }
    }
    &.subtotal{
      display: block;
      .pd-cp-text-label{
        font-size: 15px;
        margin-bottom: 48px;
      }
      button{
        width: 100%;
      }
    }
  }
}



.modal-plan-destinasi{
  .close-modal-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 20%;
    .close-btn{
      left: 50% ;
      top: 50%;
      transform: translate(-50% , -50%) rotate(45deg);
    }
  }
  .modal-plan-destinasi-ov-body{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    background-color: #f9f9fb;
    transform: translateY(100%);
    will-change: transform;
  }
  &.active{
    .modal-plan-destinasi-ov-body{
      transform: translate(0);
      transition: transform 0.4s ease 0.3s ;
    }
  }
  .modal-pd-head{
    width: 100%;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 16px;
    & > .container{
      display: flex;
      flex-direction: row ;
    }
    .modal-pd-description{
      width: 70%;
      span{
        font-size: 15px;
        line-height: 1;
        text-align: left;
        color: #a4a4a4;
      }
    }
    .modal-pd-desc-label{
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      text-align: left;
      color: #3d3d3d;
      margin-bottom: 8px;
    }
    .modal-pd-filter{
      width: 30%;
      text-align: right;
      .modal-pd-filter-inner{
        background-color: #ffffff;
        border: solid 1px #e9e9e9;
        display: inline-block;
        white-space: nowrap;
        text-align: right;
        li{
          display: inline-block;
          padding: 10px 10px 10px 16px;
          border-right: 1px solid #e9e9e9;
          cursor: pointer;
          margin: 0px;
          p{
            font-size: 15px;
            line-height: 1;
            color: #3d3d3d;
            margin: 0px;
            margin-bottom: -5px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
          }
          img{
            display: inline-block;
            vertical-align: middle;
            & + img{
              padding-left:  8px;
              border-left: 1px solid #e9e9e9;
            }
          }
          &:last-child{
            border-right: 1px solid transparent ;
          }
          &.modal-pd-double{
            padding-left: 12px;
            img{
              padding-right: 4px;
              & + img{
                padding-right: 0px;
              }
            }
          }
        }
      }
    }
  }
  .modal-pd-body{
    padding : 40px ;
    position: relative;
    height: calc(100% - 102px);
    position: relative;
  }
  .nav-btn{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #e4e4e4;
    border-radius: 50%;
    top: 44%;
    cursor: pointer;
    z-index: 2;
    i{
      position: absolute;
      font-size: 18px;
      transition: 0.3s ease ;
    }
    &:hover{
      i{
        color: $orange ;
      }
    }
    &.nav-btn-left{
      transform: translate(-50% , -50%);
      left: 0;
    }
    &.nav-btn-right{
      right: 0;
      transform: translate(50% , -50%);
    }
  }
  .modal-pd-planbox{
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #e4e4e4;
    will-change: transform;
    margin-bottom: 32px;
    transition: 0.3s ease ;
    cursor: pointer;
    .planbox-description{
      padding: 8px;
      width: 100%;
      border-bottom: solid 1px #e4e4e4;
      display: flex;
      flex-direction: row ;
    }
    .planbox-img{
      width: 30% ;
      border-radius: 2px;
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
      }
      &:after{
        content: '';
        display: block;
        padding-top: 100% ;
      }
    }
    .planbox-text{
      padding-left: 8px;
      padding-top: 4px;
      position: relative;
      .planbox-destination{
        span{
          font-size: 10px;
          line-height: 1.2;
          color: #3d3d3d;
          margin-bottom: 4px;
          display: block;
        }
        p{
          font-size: 15px;
          font-weight: 700;
          line-height: 1;
          color: #3d3d3d;
          margin: 0px;
        }
      }
      .planbox-rating{
        position: absolute;
        bottom: 0px;
        left: 8px;
        span{
          color: #3c3c3c;
        }
      }
    }
    &:hover{
      transform: translateY(-10px);
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
  .planbox-action{
    padding: 8px;
    display: flex;
    flex-direction: row ;
    .planbox-price{
      font-size: 22px;
      line-height: 1;
      text-align: left;
      color: #3d3d3d;
      width: 40%;
      padding-top: 8px;
    }
    .planbox-button-action{
      width: 60%;
      display: flex;
      flex-direction: row;
      & > button{
        flex-grow: 1 ;
        text-transform: capitalize;
        padding: 8px;
        font-size: 12px;
        line-height: 1.25;
        text-align: center;
        color: #3d3d3d;
        & + button {
          margin-left: 4px;
          color: white;
        }
      }
    }
  }
}
