.static{
	padding: 48px 0 86px;
	overflow: visible;
}
.static__side{
	padding: 0;
	&:last-child{
		padding-left: 15px;
	}
}
.static__menu{
	padding-right: 32px;
	h3,h5{
		margin: 0;
	}
	h5{
		font-weight: 300;
	}
}
.static__category{
	padding: 28px 0;
}
.static__subcategory{
	width: 100%;
	padding: 8px 16px;
	margin: 4px 0;
	cursor: pointer;
	&:hover, &.active{
		background-color: #fff;
		box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
	}
}
.static__container{
	width: 100%;
	height: 100%;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
	background-color: #fff;
}
.static__wrapper{
	padding: 32px 0;
	&.static__wrapper--nopb{
		padding-bottom: 0;
	}
}
.static__content{
	position: relative;
	padding: 0 32px;
	z-index: 2;
}
.static__full-content{
	width: 100%;
	margin: 16px 0;
	&.static__full-content--picture{
		margin-bottom: 32px;
	}
}
.static__bg-blue{
	background-color: #5b8ef4;
	color: #fff;
	h2, h5, p, span{
		color: #fff;
	}
}
.static__bg-orange{
	background-color: #ffb757;
	color: #fff;
	h2, h5, p, span{
		color: #fff;
	}
}
// term and condition
.static-tnc{
	h2{
		margin-bottom: 12px;
	}
	h5{
		margin: 16px 0;
	}
	p{
		line-height: 20px;
	}
}
// how it works
.static__hiw{
	transition: 0.3s ease;
	a{
		display: block;
		padding: 32px;
		width: 100%;
		height: 100%;
		color: #fff;
		&:hover{
			text-decoration: none;
			outline: none;
		}
	}
	span{
		color: #fff;
		margin-right: 4px;
	}
	&:hover{
		opacity: 0.8;
	}
}
.static__hiw-imagewrap{
	margin-bottom: 32px;
	img{
		width: 100%;
	}
}
.static__hiw-benefit{
	margin-top: 48px;
	padding: 32px 0;
	margin-bottom: 0;
}
.static__hiw-imagewrap--content, .static__hiw-benefit--sides{
	padding-left: 8px;
	padding-right: 8px;
}
.static__hiw-benefit--content{
	margin-bottom: 32px;
}
// what is settrip
.static__what-is{
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 16px;
	&:before{
		content: '';
		display: block;
		padding-top: 33.3333%;
	}
	img, svg{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 185px;
		height: 100px;
		transform: translate(-50%, -50%);
	}
}
// contact
.static__contact-maps, .static__contact-sent{
	position: relative;
	margin: 64px 0 32px;
	.col-md-5{
		padding-left: 0;
		padding-right: 8px;
	}
	.col-md-7{
		padding-left: 8px;
		padding-right: 0;
	}
}
.static__contact-sent{
	margin: 0;
	border-bottom: 1px solid #e4e4e4;
}
.static__pointer{
	margin-bottom: 16px;
}
.static__contact-info{
	margin-top: 100px;
	p{
		margin-bottom: 32px;
		color: #fff;
	}
}
.static__maps{
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	width: 100%;
	height: 275px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);
}
.static_contact-bg{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 225px;
	background-color: #5b8ef4;
	z-index: 1;
}
.static__input{
	margin-bottom: 32px;
}
.static__contact-button{
	padding-top: 32px;
	button{
		width: 150px;
	}
}
// faq
.static__faq{
	width: 100%;
	padding: 16px 0;
	border-bottom: 1px solid #e4e4e4;
	cursor: pointer;
	&.active{
		.static__faq-head{
			span{
				transform: translateY(-50%) rotate(-180deg);
			}
		}
		.static__faq-body{
			display: block;
			transform: translateY(0px);
		}
	}
}
.static__faq-head{
	position: relative;
	padding-left: 55px;
	&:before{
		content: attr(number);
		position: absolute;
		top: 50%;
		left: 13px;
		transform: translateY(-50%);
		font-size: 18px;
		display: inline-block;
	}
	&:after{
		content: '';
		position: absolute;
		top: 40%;
		left: 0;
		transform: translateY(-50%);
		border-radius: 50%;
		border: 1px solid #e4e4e4;
		width: 32px;
		height: 32px;
		display: inline-block;
	}
	&.static__faq-head--more{
		&:before{
			top: 9px;
			left: 9px;
		}
	}
	span{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		border-radius: 50%;
		padding: 4px;
		font-size: 15px;
		background-color: #F9F9FB;
		color: #B6B6B6;
		transition: transform 0.3s ease;
		will-change: transform;
	}
}
.static__faq-body{
	display: none;
	padding-left: 55px;
}