<div class="detail-container container container--full grey">
  <div class="detail-head op-detail__head" style="background-image:url('./images/opentrip_bg.jpeg')">
    <div class="container">
      <div class="op-detail__headcontent text-center">
        <p>Open Trip</p>
        <h1>Petualangan di Karimun Jawa</h1>
        <h3>
          <img class="svg-image" src="images/icon/ic-calendar-default.svg" alt="">
          14 - 17 April
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="op-detail__info">
      <div class="row">
        <div class="col-md-8">
          <div class="op-detail__info-top">
            <div class="op-detail__infoprofile">
              <img src="images/guide.jpg" alt="">
            </div>
            <div class="op-detail__infoprofiledesc clearfix">
              <p>PEMANDU</p>
              <h5>Wikan Wicaksono</h5>
            </div>
          </div>
          <div class="op-detail__info-bottom">
            <div class="social-share-container">
              <div class="social-circle facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div class="social-circle twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div class="social-circle pinterest">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </div>
              <div class="social-circle instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
            </div>
            <div class="ddesc-content">
              <p>Tangkuban Parahu atau Gunung Tangkuban Perahu adalah salah satu gunung yang terletak di Provinsi Jawa Barat, Indonesia. Sekitar 20 km ke arah utara Kota Bandung, dengan rimbun pohon pinus dan hamparan kebun teh di sekitarnya, Gunung Tangkuban Perahu mempunyai ketinggian setinggi 2.084 meter. Bentuk gunung ini adalah Stratovulcano dengan pusat erupsi yang berpindah dari timur ke barat.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="op-detail__info-top">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>