<script src="js/plugins/moment.min.js" charset="utf-8"></script>
<script src="js/plugins/daterangepicker.js" charset="utf-8"></script>
<script src="js/view/detail_atraksi.js" ></script>
<div class="detail-container container container--full grey">
  <div class="detail-head op-detail__head" style="background-image:url('./images/opentrip_bg.jpeg')">
    <div class="videobackground">
        <iframe
        src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&controls=0&showinfo=0" frameborder="0">
        </iframe>
    </div>
    <div class="container">
      <div class="op-detail__headcontent text-center">
        <p>Open Trip</p>
        <h1>Petualangan di Karimun Jawa</h1>
        <h3> 
          <img class="svg-image" src="images/icon/ic-calendar-default.svg" alt="">
          14 - 17 April
        </h3>
      </div>
    </div>
  </div>
  <div class="container overflow_visible">
    <div class="op-detail__info">
      <div class="row row--withmargin">
        <div class="col-md-8">
          <!-- mobile media share -->
          <div class="op-detail__info-bottom op-detail__info-bottom--mobile">
            <div class="social-share-container">
              <a href="">
                <div class="social-circle facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
              </a>
              <a href="">
                <div class="social-circle twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
              </a>
              <a href="">
                <div class="social-circle pinterest">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </div>
              </a>
              <a href="">
                <div class="social-circle instagram">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="op-detail__info-top">
            <div class="op-detail__infoprofile">
              <img src="images/guide.jpg" alt="">
            </div>
            <div class="op-detail__infoprofiledesc clearfix">
              <p>PEMANDU</p>
              <h5>Wikan Wicaksono</h5>
            </div>
          </div>
          <div class="op-detail__info-bottom">
            <div class="social-share-container">
              <div class="social-circle facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div class="social-circle twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
              <div class="social-circle pinterest">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </div>
              <div class="social-circle instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
            </div>
            <div class="ddesc-content">
              <p>Tangkuban Parahu atau Gunung Tangkuban Perahu adalah salah satu gunung yang terletak di Provinsi Jawa Barat, Indonesia. Sekitar 20 km ke arah utara Kota Bandung, dengan rimbun pohon pinus dan hamparan kebun teh di sekitarnya, Gunung Tangkuban Perahu mempunyai ketinggian setinggi 2.084 meter. Bentuk gunung ini adalah Stratovulcano dengan pusat erupsi yang berpindah dari timur ke barat.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 op-detail__price">
          <div class="op-detail__info-top info-top--blue">
              <div class="op-detail__infoprofiledesc op-detail__infoprofiledesc--price clearfix text-center">
                <p>Harga</p>
                <h3>Rp 1.280.000</h3>
              </div>
          </div>
          <div class="op-detail__info-bottom text-center">  
            <p><b>PESERTA</b></p>
            <div class="qty-form">
              <button class="qtyminus"></button>
              <input type="text" name="quantity" value="2" class="qty" readonly="readonly">
              <button  class="qtyplus"></button>
            </div>
            <p>Harga satuan Rp 640.000</p>
            <p class="info-bottom__participate"><b>8 Orang telah mendaftar</b></p>
            <button class="op-detal__btn btn btn--orange btn--medium">PESAN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container--full white available plan-destinasi plan-destinasi-detail op-plan-destinasi">
      <div class="container">
        <div class="ccw-head">
            <h1>Package Options</h1>
        </div>
        <div class="ccw-body">
            <div class="form-group col-sm-6">
                <div class="input-group select with-icon">
                  <div class="input-icon">
                    <img src="images/icon/ic-calendar-default.svg" alt="Calendar icon">
                  </div>
                  <input class="date-available" type="text" placeholder="Check Availability">
                </div>
              </div>
              <div class="options-cards col-xs-12">
                  <div class="cards-head row">
                    <div class="col-md-6">
                      <div class="col-xs-12">
                        <div class="cards-title">
                            <h5>1-Day Ticket (Valid until June)</h5>
                        </div>
                      </div>
                      <div class="col-xs-12">
                          <div class="cards-detail">
                              Package Details
                          </div>
                          <div class="cards-detail-body">
                            <ul>
                              <li>Schedule: 10:00am-8:30pm</li>
                              <li>Valid until 30 June 2018</li>
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-6 cards-price-detail">
                      <div class="cards-price">
                          <h5>Rp 960924</h5>
                      </div>
                      <div class="cards-discount">
                          1099467
                      </div>
                    </div>
                  </div>
                  <div class="cards-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="">Package quantity</label>
                            <div class="input-group select with-icon">
                              <div class="input-icon">
                                <img src="images/icon/ic-person.svg" alt="person icon">
                              </div>
                              <select class="" name="">
                                <option value="">Content</option>
                              </select>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>
  <!-- tambahkan class op-plan-destinasi untuk mobile site -->
  <div class="container container--full white plan-destinasi plan-destinasi-detail op-plan-destinasi itinerary">
    <div class="container">
      <div class="ccw-head">
          <h1>Itinerary</h1>
      </div>
      <div class="row">
        <div class="plan-destinasi-date">
          <div class="pd-date-block active">
            <div class="pd-date-days">
              14
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              15
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              16
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              17
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
        </div>
        <div class="plan-destinasi-main-body">
          <div class="plan-destinasi-mb-inner">
            <div class="itn-body-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="img-square-box">
                    <img src="./images/dummy/op-pict1.jpeg" alt="op-pict1">
                  </div>
                  <div class="point-square point-square-bottom">

                  </div>
                </div>
                <div class="col-md-9">
                  <div class="itn-content">
                    <div class="itn-text">
                      <h5>Meeting Point</h5>
                      <p>Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing. Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="itn-body-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="point-square point-square-top">

                  </div>
                  <div class="img-square-box">
                    <img src="./images/dummy/op-pict2.jpeg" alt="op-pict2">
                  </div>
                  <div class="point-square point-square-bottom">

                  </div>
                </div>
                <div class="col-md-9">
                  <div class="itn-content">
                    <div class="itn-text">
                      <h5>Jalan Jalan di Pantai</h5>
                      <p>Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing. Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="itn-body-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="point-square point-square-top">

                  </div>
                  <div class="img-square-box">
                    <img src="./images/dummy/op-pict3.jpeg" alt="op-pict3">
                  </div>
                  <div class="point-square point-square-bottom">

                  </div>
                </div>
                <div class="col-md-9">
                  <div class="itn-content">
                    <div class="itn-text">
                      <h5>Istirahat Makan Siang</h5>
                      <p>Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing. Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="itn-body-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="point-square point-square-top">

                  </div>
                  <div class="img-square-box">
                    <img src="./images/dummy/op-pict4.jpeg" alt="op-pict4">
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="itn-content">
                    <div class="itn-text">
                      <h5>Menyelam di Pulau Hiu</h5>
                      <p>Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing. Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container--full grey">
    <div class="container">
      <div class="ccw-head">
          <h1>Informasi Tambahan</h1>
      </div>
      <div class="ccw-body">
        <div class="row">
          <div class="col-md-6">
            <div class="ccw-ico">
              <img src="./images/icon/ic-facilities.svg" alt="">
              <p>Fasilitas</p>
            </div>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Tiket masuk untuk satu orang</li>
              <li>Parkir gratis</li>
              <li>Kolam renang</li>
              <li>Teropong bintang</li>
              <li>Peta lokasi</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ccw-body">
        <div class="row">
          <div class="col-md-6">
            <div class="ccw-ico">
              <img src="./images/icon/ic-umbrella.svg" alt="">
              <p>Perlengkapan Tambahan</p>
            </div>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Tiket masuk untuk satu orang</li>
              <li>Parkir gratis</li>
              <li>Kolam renang</li>
              <li>Teropong bintang</li>
              <li>Peta lokasi</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container--full white">
    <div class="container">
      <div class="ccw-head">
          <h1>Open Trip Sejenis</h1>
      </div>
      <div class="rp__wrap op-wrap row">
        <!-- bungkus dengan class op-wrap__nowrap untuk mobile -->
        <div class="op-wrap__nowrap">
          <div class="rp__content col-md-4">
            <div class="card card--full">
              <div class="card__slider">
                <img src="./images/image-card.jpeg" alt="">
              </div>
              <div class="card__location op-infowrap">
                <div class="card__infowrap">
                  <h5>Petualangan di raja ampat</h5>
                  <p class="card__desc">Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.</p>
                  <div class="row">
                    <!-- ubah col-md-6 jadi col-6 -->
                    <div class="card__modallocation-content col-6">
                      <img class="svg-image" src="images/icon/ic-calendar-default.svg" alt="Calendar icon">
                      <span>14 - 17 APRIL</span>
                    </div>
                    <div class="card__modallocation-content col-6">
                      <img class="svg-image" src="images/icon/ic-location.svg" alt="Location icon">
                      <span>Sulawesi Selatan</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card__pricewrap relative">
                <p>8 orang terdaftar</p>
                <h3>Rp200.000</h3>
                <img class="svg-image" src="./images/icon/home-arrow-b.svg" alt="">
              </div>
            </div>
          </div>
          <div class="rp__content col-md-4">
            <div class="card card--full">
              <div class="card__slider">
                <img src="./images/image-card.jpeg" alt="">
              </div>
              <div class="card__location op-infowrap">
                <div class="card__infowrap">
                  <h5>Petualangan di raja ampat</h5>
                  <p class="card__desc">Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.</p>
                  <div class="row">
                    <!-- ubah col-md-6 jadi col-6 -->
                    <div class="card__modallocation-content col-6">
                      <img class="svg-image" src="images/icon/ic-calendar-default.svg" alt="Calendar icon">
                      <span>14 - 17 APRIL</span>
                    </div>
                    <div class="card__modallocation-content col-6">
                      <img class="svg-image" src="images/icon/ic-location.svg" alt="Location icon">
                      <span>Sulawesi Selatan</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card__pricewrap relative">
                <p>8 orang terdaftar</p>
                <h3>Rp200.000</h3>
                <img class="svg-image" src="./images/icon/home-arrow-b.svg" alt="">
              </div>
            </div>
          </div>
          <div class="rp__content col-md-4">
            <div class="card card--full">
              <div class="card__slider">
                <img src="./images/image-card.jpeg" alt="">
              </div>
              <div class="card__location op-infowrap">
                <div class="card__infowrap">
                  <h5>Petualangan di raja ampat</h5>
                  <p class="card__desc">Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.</p>
                  <div class="row">
                    <!-- ubah col-md-6 jadi col-6 -->
                    <div class="card__modallocation-content col-6">
                      <img class="svg-image" src="images/icon/ic-calendar-default.svg" alt="Calendar icon">
                      <span>14 - 17 APRIL</span>
                    </div>
                    <div class="card__modallocation-content col-6">
                      <img class="svg-image" src="images/icon/ic-location.svg" alt="Location icon">
                      <span>Sulawesi Selatan</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card__pricewrap relative">
                <p>8 orang terdaftar</p>
                <h3>Rp200.000</h3>
                <img class="svg-image" src="./images/icon/home-arrow-b.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-price__overlay"></div>
  <div class="detail-price">
    <div class="detail-price__wrapper">
      <div class="detail-price__participant">
        <div class="op-detail__info-bottom text-center">
          <p>
            <b>PESERTA</b>
          </p>
          <div class="qty-form">
            <button class="qtyminus"></button>
            <input type="text" name="quantity" value="2" class="qty" readonly="readonly">
            <button class="qtyplus"></button>
          </div>
          <p>Harga satuan Rp 640.000</p>
          <p class="info-bottom__participate">
            <b>8 Orang telah mendaftar</b>
          </p>
        </div>
      </div>
      <div class="detail-price__content">
        <div class="detail-price__value js-value row clearfix">
          <div class="col-6">
            Harga
          </div>
          <div class="col-6">
            Rp 1.280.000
            <span class="fa fa-chevron-down"></span>
          </div>
        </div>
        <button class="detail-price__button btn btn--orange btn--medium">PESAN</button>
      </div>
    </div>
  </div>
</div>

<script src="js/view/detail_atraksi.js" charset="utf-8"></script>