<div class="detail-container container container--full grey">
  <div class="detail-head " style="background-image:url('./images/dummy/hotel.jpg')">
    <div class="container">
      <div class="detail-desc">
        <div class="dd-top">
          <div class="dd-rate">
            <h1>5</h1>
          </div>
          <div class="dd-desc-text">
            <h5>Hotel</h5>
            <h1>Santika Bandung</h1>
          </div>
        </div>
        <div class="planbox-rating star-rating" data-star="5" >
          <div class="rating-container">

          </div>
          <span>240 reviews</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ddesc-top container">
    <div class="social-share-container">
      <div class="social-circle facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="social-circle twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
      <div class="social-circle pinterest">
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
      </div>
      <div class="social-circle instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
    <div class="ddesc-content">
      <p>Tangkuban Parahu atau Gunung Tangkuban Perahu adalah salah satu gunung yang terletak di Provinsi Jawa Barat, Indonesia. Sekitar 20 km ke arah utara Kota Bandung, dengan rimbun pohon pinus dan hamparan kebun teh di sekitarnya, Gunung Tangkuban Perahu mempunyai ketinggian setinggi 2.084 meter. Bentuk gunung ini adalah Stratovulcano dengan pusat erupsi yang berpindah dari timur ke barat.</p>
    </div>
    <div class="ddesc-tag">
      <span>OUTDOOR</span>
    </div>
    <div class="ddesc-tag">
      <span>FAMILY</span>
    </div>
  </div>
  <div class="container container--full white">
    <div class="container">
      <div class="ccw-head">
          <h1>Informasi Tambahan</h1>
      </div>
      <div class="ccw-body">
        <div class="row">
          <div class="col-md-6">
            <div class="ccw-ico">
              <img src="./images/icon/ic-facilities.svg" alt="">
              <p>Fasilitas</p>
            </div>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Tiket masuk untuk satu orang</li>
              <li>Parkir gratis</li>
              <li>Kolam renang</li>
              <li>Teropong bintang</li>
              <li>Peta lokasi</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ccw-body">
        <div class="row">
          <div class="col-md-6">
            <div class="ccw-ico">
              <img src="./images/icon/ic-umbrella.svg" alt="">
              <p>Perlengkapan Tambahan</p>
            </div>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Tiket masuk untuk satu orang</li>
              <li>Parkir gratis</li>
              <li>Kolam renang</li>
              <li>Teropong bintang</li>
              <li>Peta lokasi</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container--full">
    <div class="container">
      <div class="ccw-head">
          <h1>Aktifitas</h1>
      </div>
      <div class="ccw-box">
        <div class="row">
          <div class="col-md-3">
            <div class="ccw-img-container" style="background-image:url('./images/dummy/hotel-a.jpeg')">

            </div>
          </div>
          <div class="col-md-9">
            <h5>Kolam Renang</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim.</p>
          </div>
        </div>
      </div>
      <div class="ccw-box">
        <div class="row">
          <div class="col-md-3">
            <div class="ccw-img-container" style="background-image:url('./images/dummy/op-pict1.jpeg')">

            </div>
          </div>
          <div class="col-md-9">
            <h5>Karaoke</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim.</p>
          </div>
        </div>
      </div>
      <div class="ccw-box">
        <div class="row">
          <div class="col-md-3">
            <div class="ccw-img-container" style="background-image:url('./images/dummy/hotel-b.jpeg')">

            </div>
          </div>
          <div class="col-md-9">
            <h5>Restoran</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container--full white">
    <div class="container">
      <div class="ccw-head">
          <h1>Gallery</h1>
      </div>
      <div class="detail-gallery">
        <div class="swiper-container gallery-top swiper-container-horizontal">
          <div class="swiper-wrapper">
              <div class="swiper-slide swiper-slide-active">
                <div class="slide-img-container" style="background-image: url('http://cdn.demo.fabthemes.com/kansas/files/2012/08/wallpaper-722590cp.jpg') ; "></div>
              </div>
              <div class="swiper-slide">
                <div class="slide-img-container" style="background-image: url('http://miriadna.com/desctopwalls/images/max/At-the-brink-of-Alpes.jpg') ; "></div>
              </div>
              <div class="swiper-slide">
                <div class="slide-img-container" style="background-image: url('https://www.ihdimages.com/wp-content/uploadsktz/2014/11/mountain_landscape_photography_hd_wallpapers.jpeg') ; "></div>
              </div>
              <div class="swiper-slide">
                <div class="slide-img-container" style="background-image: url('https://i.ytimg.com/vi/zoozFV6SEvU/maxresdefault.jpg') ; "></div>
              </div>
              <div class="swiper-slide">
                <div class="slide-img-container" style="background-image: url('https://greatatmosphere.files.wordpress.com/2013/06/maroon-bells-at-sunrise-aspen-colorado-amazing-view-beautiful-travel-photography-nature-landscapes-colors.jpg?w=1600&h=1200') ; "></div>
              </div>

          </div>


      </div>
      <div class="swiper-container gallery-thumbs swiper-container-horizontal">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-active">
            <div class="slide-img-container" style="background-image: url('http://cdn.demo.fabthemes.com/kansas/files/2012/08/wallpaper-722590cp.jpg') ; "></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-img-container" style="background-image: url('http://miriadna.com/desctopwalls/images/max/At-the-brink-of-Alpes.jpg') ; "></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-img-container" style="background-image: url('https://www.ihdimages.com/wp-content/uploadsktz/2014/11/mountain_landscape_photography_hd_wallpapers.jpeg') ; "></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-img-container" style="background-image: url('https://i.ytimg.com/vi/zoozFV6SEvU/maxresdefault.jpg') ; "></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-img-container" style="background-image: url('https://greatatmosphere.files.wordpress.com/2013/06/maroon-bells-at-sunrise-aspen-colorado-amazing-view-beautiful-travel-photography-nature-landscapes-colors.jpg?w=1600&h=1200') ; "></div>
          </div>
        </div>
        <div class="swiper-button-next">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="swiper-button-prev">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container--full blue maps-wrap">
    <div class="container">
      <div class="ccw-head">
          <h1>Lokasi</h1>
      </div>
      <div class="ccw-body">
        <p>Gn. Tangkuban Parahu, Cikahuripan, Lembang, Kabupaten Bandung Barat, Jawa Barat</p>
        <h5>Landmark Terdekat</h5>
        <div class="ccw-ico">
          <img src="./images/icon/ic-terminal.svg" alt="">
          <p>Stasiun Bandung</p>
        </div>
        <div class="ccw-ico">
          <img src="./images/icon/ic-bandara.svg" alt="">
          <p>Husein Sastranegara</p>
        </div>
        <div class="ccw-ico">
          <img src="./images/icon/ic-hotel.svg" alt="">
          <p>Grand Hotel Lembang, Cisarua Hotel, Melati Hotel </p>
        </div>
        <div class="ccw-ico">
          <img src="./images/icon/ic-restaurant.svg" alt="">
          <p>Ayam Brebes Lembang, Oleh Oleh Lembang, Sapu Lidi</p>
        </div>
      </div>
    </div>
    <div class="maps-container maps">

    </div>
  </div>
  <!-- other info goes here -->
  <div class="container container--full">
    <div class="container">
      <div class="row row--withmargin">
        <div class="col-md-8">
          <div class="ccw-head">
              <h1>Ulasan</h1>
          </div>
          <div class="comment">
            <div class="comment__head comment__padding">
              <h5>4 Ulasan</h5>
            </div>
            <div class="comment__padding">
              <div class="comment__content">
                <div class="comment__profile clearfix">
                  <div class="comment__person">
                    <div class="guide-detail__person">
                      <img src="images/guide.jpg" alt="guide">
                    </div>
                    <div class="guide-detail__info">
                      <p>Amelia Yuya</p>
                    </div>
                  </div>
                  <div class="comment__rating">
                    <div class="planbox-rating star-rating" data-star="5" >
                      <div class="rating-container">

                      </div>
                    </div>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                <span>2 Hari yang lalu</span>
              </div>
              <div class="comment__content">
                <div class="comment__profile clearfix">
                  <div class="comment__person">
                    <div class="guide-detail__person">
                      <img src="images/guide.jpg" alt="guide">
                    </div>
                    <div class="guide-detail__info">
                      <p>Muhammad Idham</p>
                    </div>
                  </div>
                  <div class="comment__rating">
                    <div class="planbox-rating star-rating" data-star="1" >
                      <div class="rating-container">

                      </div>
                    </div>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                <span>2 Hari yang lalu</span>
              </div>
              <div class="comment__content">
                <div class="comment__profile clearfix">
                  <div class="comment__person">
                    <div class="guide-detail__person">
                      <img src="images/guide.jpg" alt="guide">
                    </div>
                    <div class="guide-detail__info">
                      <p>Lauren Tsai</p>
                    </div>
                  </div>
                  <div class="comment__rating">
                    <div class="planbox-rating star-rating" data-star="3" >
                      <div class="rating-container">

                      </div>
                    </div>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                <span>2 Hari yang lalu</span>
              </div>
              <div class="comment__content">
                <div class="comment__profile clearfix">
                  <div class="comment__person">
                    <div class="guide-detail__person">
                      <img src="images/guide.jpg" alt="guide">
                    </div>
                    <div class="guide-detail__info">
                      <p>Sandy Lim</p>
                    </div>
                  </div>
                  <div class="comment__rating">
                    <div class="planbox-rating star-rating" data-star="5" >
                      <div class="rating-container">

                      </div>
                    </div>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                <span>2 Hari yang lalu</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ccw-head">
              <h1>Atraksi Terdekat</h1>
          </div>
          <div class="near">
            <div class="near__content">
              <div class="row near__top">
                <div class="col-md-4 near__side">
                  <img src="./images/dummy/recomended.jpeg" alt="atraksi" />
                </div>
                <div class="col-md-8 near__side relative">
                  <span class="near__subtitle">ATRAKSI</span>
                  <p class="near__title">Ranca Upas</p>
                  <div class="near__rate">
                    <div class="planbox-rating star-rating" data-star="3" data-grey="true" >
                      <div class="rating-container">

                      </div>
                      <span>(3)</span>
                    </div>
                    <span>250 reviews</span>
                  </div>
                </div>
              </div>
              <div class="row near__bottom">
                <div class="col-md-4 near__side relative">
                  <h5>Rp. 200.000</h5>
                </div>
                <div class="col-md-8 near__side clearfix">
                  <button class="btn">Lihat Detail</button>
                  <button class="btn btn--orange">Tambahkan</button>
                </div>
              </div>
            </div>
            <div class="near__content">
              <div class="row near__top">
                <div class="col-md-4 near__side">
                  <img src="./images/dummy/recomended.jpeg" alt="atraksi" />
                </div>
                <div class="col-md-8 near__side relative">
                  <span class="near__subtitle">ATRAKSI</span>
                  <p class="near__title">Ranca Upas</p>
                  <div class="near__rate">
                    <div class="planbox-rating star-rating" data-star="4" data-grey="true" >
                      <div class="rating-container">

                      </div>
                      <span>(4)</span>
                    </div>
                    <span>250 reviews</span>
                  </div>
                </div>
              </div>
              <div class="row near__bottom">
                <div class="col-md-4 near__side relative">
                  <h5>Rp 5.000.000</h5>
                </div>
                <div class="col-md-8 near__side clearfix">
                  <button class="btn">Lihat Detail</button>
                  <button class="btn btn--orange">Tambahkan</button>
                </div>
              </div>
            </div>
            <div class="near__content">
              <div class="row near__top">
                <div class="col-md-4 near__side">
                  <img src="./images/dummy/recomended.jpeg" alt="atraksi" />
                </div>
                <div class="col-md-8 near__side relative">
                  <span class="near__subtitle">ATRAKSI</span>
                  <p class="near__title">Tangkuban Perahu</p>
                  <div class="near__rate">
                    <div class="planbox-rating star-rating" data-star="1" data-grey="true" >
                      <div class="rating-container">

                      </div>
                      <span>(1)</span>
                    </div>
                    <span>250 reviews</span>
                  </div>
                </div>
              </div>
              <div class="row near__bottom">
                <div class="col-md-4 near__side relative">
                  <h5>Rp 50.000.000</h5>
                </div>
                <div class="col-md-8 near__side clearfix">
                  <button class="btn">Lihat Detail</button>
                  <button class="btn btn--orange">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/view/detail_atraksi.js" charset="utf-8"></script>
