<div class="container container--full grey">
    <div class="container static static-tnc">
        <div class="row">
            <div class="col-md-12 static__side">
                <div class="static__menu static__menu--visible">
                    <div class="static__category">
                        <a href=""><h3>Info</h3></a>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>How It Works</h5></a>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>For Hosts</h5></a>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>For Travelers</h5></a>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>FAQ</h5></a>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>Terms &amp; Conditions</h5></a>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>Contacts</h5></a>
                    </div>
                    <div class="static__category">
                        <h3>About Settrip</h3>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>What is Settrip</h5></a>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>Why</h5></a>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>Jobs</h5></a>
                    </div>
                    <div class="static__subcategory">
                        <a href=""><h5>Team</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>