<div class="container itinerary container--full grey">
  <div class="container container-body plan-destinasi">
    <div class="plan-destinasi-body">
      <div class="word-navigation">
        <ul>
          <li class="active">Itinerary</li>
          <li>Informasi tambahan</li>
          <li>Syarat &amp; Ketentuan</li>
        </ul>
      </div>
      <div class="row">
        <div class="plan-destinasi-date">
          <div class="pd-date-block active">
            <div class="pd-date-days">
              21
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              22
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              23
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
        </div>
        <div class="plan-destinasi-main-body">
          <div class="plan-destinasi-mb-inner">
            <div class="itn-body-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="img-square-box">
                    <img src="./images/dummy/hotel.jpg" alt="hotel">
                  </div>
                  <div class="point-square point-square-bottom">

                  </div>
                </div>
                <div class="col-md-9">
                  <div class="itn-content">
                    <div class="itn-text">
                      <h5>Hotel Santika Bandung</h5>
                      <p>Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing. Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="itn-body-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="point-square point-square-top">

                  </div>
                  <div class="img-square-box">
                    <img src="./images/dummy/hotel.jpg" alt="hotel">
                  </div>
                  <div class="point-square point-square-bottom">

                  </div>
                </div>
                <div class="col-md-9">
                  <div class="itn-content">
                    <div class="itn-text">
                      <h5>Hotel Santika Bandung</h5>
                      <p>Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing. Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                    </div>
                    <div class="itn-body-child">
                      <div class="row">
                        <div class="col-md-3">

                          <div class="img-square-box">
                            <img src="./images/dummy/hotel.jpg" alt="hotel">
                          </div>

                        </div>
                        <div class="col-md-9">
                          <div class="itn-text">
                            <h5>Paket Ayam Cobek</h5>
                            <p>Paket ayam dengan nasi dan minuman dingin. Minuman bisa dipilih sesuai selera Anda.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="itn-body-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="point-square point-square-top">

                  </div>
                  <div class="img-square-box">
                    <img src="./images/dummy/hotel.jpg" alt="hotel">
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="itn-content">
                    <div class="itn-text">
                      <h5>Hotel Santika Bandung</h5>
                      <p>Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing. Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim. Ei duo delectus pertinacia adversarium. Vix et elitr appareat efficiantur, eu quo enim lucilius tractatos, et vix postea hendrerit sadipscing.</p>
                    </div>
                    <div class="itn-body-child">
                      <div class="row">
                        <div class="col-md-3">

                          <div class="img-square-box">
                            <img src="./images/dummy/hotel.jpg" alt="hotel">
                          </div>

                        </div>
                        <div class="col-md-9">
                          <div class="itn-text">
                            <h5>Paket Ayam Cobek</h5>
                            <p>Paket ayam dengan nasi dan minuman dingin. Minuman bisa dipilih sesuai selera Anda.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="plan-destinasi-cart-price">
          <div class="pd-cp-inner">
            <div class="pd-cp-box label">
              <h5>3 Hari di Bandung</h5>
              <p>12 Destinasi - 2 Orang</p>
            </div>
            <div class="pd-cp-itn">
              <div class="row">
                <div class="col-md-4">
                  <div class="img-round-box">
                    <img src="./images/dummy/narso.png" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <p>PEMANDU</p>
                  <p>Vladimir Narso</p>
                </div>
              </div>
            </div>
            <div class="pd-cp-itn">
              <div class="row">
                <div class="col-md-4">
                  <div class="img-round-box">
                    <img src="./images/dummy/innova.png" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <p>KENDARAAN</p>
                  <p>Suzuki APV</p>
                </div>
              </div>
            </div>
            <div class="pd-cp-itn-footer">
              <div class="itn-foot-box">
                <div class="itn-foot-inner middle-both">
                  <img class="svg-image" src="./images/icon/ic-edit.svg" alt="">
                  <p>Ubah Plan</p>
                </div>
              </div>
              <div class="itn-foot-box">
                <div class="itn-foot-inner middle-both">
                  <img class="svg-image" src="./images/icon/ic-love.svg" alt="">
                  <p>Buat Wishlist</p>
                </div>
              </div>
            </div>
          </div>
          <div class="pd-cp-inner">
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                21 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box child">
              <div class="pd-cp-text-label">
                Gunung Tangkuban Parahu
              </div>
              <div class="pd-cp-text-number">
                IDR 80.000
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                22 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                23 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box subtotal">
              <div class="pd-cp-container">
                <div class="pd-cp-text-label">
                  SUB TOTAL
                </div>
                <div class="pd-cp-text-number">
                  Rp 80.000
                </div>
              </div>
              <button class="btn btn--orange btn--medium" >PEMBAYARAN</button>
            </div>
          </div>

          <div class="social-share-container">
            <div class="social-circle facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="social-circle twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="social-circle pinterest">
              <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </div>
            <div class="social-circle instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
