<div class="container container--full grey">
  <div class="container konfirmasi_pembayaran">
    <h3>Konfirmasi Pembayaran</h3>
    <div class="dashpanel">
      <div class="panel-body">
        <div class="form-group col-sm-12">
          <label for="">Order ID</label>
          <div class="input-group">
            <input type="text" placeholder="Placeholder" disabled value="238239">
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="">Tanggal Pembayaran</label>
          <div class="input-group with-icon">
            <div class="input-icon">
              <img src="images/icon/ic-calendar-default.svg" alt="Calendar icon">
            </div>
            <input type="text" placeholder="dd/mm/yyyy">
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="">Jumlah Pembayaran</label>
          <div class="input-group">
            <input type="text" placeholder="Placeholder" >
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="">Metode Pembayaran</label>
          <div class="input-group select">
            <select class="" name="">
              <option value="">Content</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="">No Rekening</label>
          <div class="input-group">
            <input type="text" placeholder="Placeholder" >
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="">Dari Bank</label>
          <div class="input-group select">
            <select class="" name="">
              <option value="">Content</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="">Ke Bank</label>
          <div class="input-group select">
            <select class="" name="">
              <option value="">Content</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="">Bukti</label>
          <div class="input-group upload-box">
            <input id="file1" type="file">
            <label class="btn" for="file1">Choose File</label>
            <input type="text" class="file_name" disabled="" placeholder="No file selected">
          </div>
          <span>MAX file size is 500kb</span>
        </div>
        <button class="btn btn--orange w-100 btn--medium">Kirim</button>
      </div>
    </div>
  </div>
</div>
