<div class="container container--full grey">
  <div class="container mitra">
    <h3>Bergabung sebagai mitra</h3>
    <div class="dashpanel">
      <div class="panel-body">
        <div class="panel-head">
          <ul>
            <li >
              Daftar sebagai pemandu
            </li>
            <li class="active">
              Buka open trip
            </li>
          </ul>
        </div>
        <div class="panel-inside ">
          <div class="panel-body__inner">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="">Nama Depan</label>
                <div class="input-group">
                  <input type="text" placeholder="Placeholder">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Usia</label>
                <div class="input-group">
                  <input type="text" placeholder="Placeholder">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Domisili</label>
                <div class="input-group">
                  <input type="text" placeholder="Placeholder">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Pekerjaan</label>
                <div class="input-group">
                  <input type="text" placeholder="Placeholder">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Alamat Email</label>
                <div class="input-group">
                  <input type="email" placeholder="Placeholder">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Nomor Telepon</label>
                <div class="input-group">
                  <input type="number" placeholder="Placeholder">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Foto KTP</label>
                <div class="input-group upload-box">
                  <input id="file1" type="file">
                  <label class="btn" for="file1">Choose File</label>
                  <input type="text" class="file_name" disabled="" placeholder="No file selected">
                </div>
                <span>MAX file size is 500kb</span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button class="btn btn--orange btn--medium col-sm-3">SIMPAN</button>
          </div>
        </div>
        <div class="panel-inside active">
          <div class="panel-body__inner">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="">Tanggal Open Trip</label>
                <div class="input-group with-icon">
                  <div class="input-icon">
                    <img src="images/icon/ic-calendar-default.svg" alt="Calendar icon">
                  </div>
                  <input type="text" placeholder="dd/mm/yyyy">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Provinsi</label>
                <div class="input-group">
                  <input type="text" placeholder="Placeholder">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Kota</label>
                <div class="input-group">
                  <input type="text" placeholder="Placeholder">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Judul Open Trip</label>
                <div class="input-group">
                  <input type="text" placeholder="Placeholder">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="">Harga Open Trip</label>
                <div class="input-group">
                  <input type="text" placeholder="Placeholder">
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button class="btn btn--orange btn--medium col-sm-3">SIMPAN</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
