<div class="container container--full grey">
  <div class="container container-body">
    <div class="pembayaran-thanks">
      <div class="pt-head">
        <h1>Terima Kasih</h1>
        <h5>Pemesanan kamu telah berhasil</h5>
      </div>
      <div class="pt-body">
        <div class="od-detail">
          <span>ORDER ID ANDA</span>
          <h2>DF455990</h2>
          <p>Silahkan transfer pembayaran ke rekening di bawah ini sebesar : <strong>Rp 1.180.000</strong></p>
        </div>
        <div class="row">
          <div class="acordeon-body-list col-md-6">
            <h5>Bank Central Asia (BCA)</h5>
            <p>Cabang DKI Jakarta</p>
            <p>A/N Candra Setya</p>
            <p>6920181897</p>
          </div>
          <div class="acordeon-body-list col-md-6">
            <h5>Bank Mandiri</h5>
            <p>Cabang DKI Jakarta</p>
            <p>A/N Candra Setya</p>
            <p>6920181897</p>
          </div>
        </div>
      </div>
      <div class="pt-footer">
        <p>Lakukan konfirmasi setelah kamu melakukan pembayaran </p>
        <button class="btn btn--orange btn--medium">Konfirmasi Pembayaran</button>
      </div>
    </div>
  </div>
</div>
