<script src="js/view/pembayaran.js" charset="utf-8"></script>
<div class="container itinerary container--full grey pembayaran">
  <div class="container container-body plan-destinasi">
    <h3>PEMBAYARAN</h3>
    <div class="plan-destinasi-body">
      <div class="row">
        <div class="plan-destinasi-main-body">
          <div class="plan-destinasi-mb-inner ">
            <div class="pd-mb-head">
              <div class="pd-mb-step active" step="1">
                <p>RINCIAN PESERTA</p>
              </div>
              <div class="pd-mb-step" step="2">
                <p>METODE PEMBAYARAN</p>
              </div>
            </div> 
            <div class="pembayaran-step pembayaran-step-one active">
              <div class="pd-mb-form">
                <form action="">
                  <div class="pd-mb-form-box">
                    <h5>Peserta 1</h5>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="">Nama Lengkap (sesuai KTP)</label>
                        <div class="input-group">
                          <input type="text" placeholder="Placeholder">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="">Alamat Email</label>
                        <div class="input-group">
                          <input type="text" placeholder="Placeholder">
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="">Nomor Telepon</label>
                        <div class="input-group">
                          <input type="text" placeholder="Placeholder">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="pd-mb-form">
                <form action="">
                  <div class="pd-mb-form-box">
                    <h5>Peserta 2</h5>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="">Nama Lengkap (sesuai KTP)</label>
                        <div class="input-group">
                          <input type="text" placeholder="Placeholder">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="">Alamat Email</label>
                        <div class="input-group">
                          <input type="text" placeholder="Placeholder">
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="">Nomor Telepon</label>
                        <div class="input-group">
                          <input type="text" placeholder="Placeholder">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="row">
                <div class="col-md-9">

                </div>
                <div class="pembayaran-next col-xs-12 col-md-3">
                  <button class="btn btn--blue btn--medium">LANJUTKAN</button>
                </div>
              </div>
            </div>
            <div class="pembayaran-step pembayaran-step-two">
              <div class="acordeon-box">
                <div class="acordeon-head">
                  <div class="radio-area">
                      <input type="radio" name="pembayaran" id="transfer" required="" data-parsley-multiple="metodepembayaran" data-parsley-id="23">
                      <label for="transfer" class="active">Transfer Bank </label>
                  </div>
                </div>
                <div class="acordeon-body">
                  <div class="row">
                    <div class="acordeon-body-list col-md-4">
                      <h5>Bank Central Asia (BCA)</h5>
                      <p>Cabang DKI Jakarta</p>
                      <p>A/N Candra Setya</p>
                      <p>6920181897</p>
                    </div>
                    <div class="acordeon-body-list col-md-4">
                      <h5>Bank Mandiri</h5>
                      <p>Cabang DKI Jakarta</p>
                      <p>A/N Candra Setya</p>
                      <p>6920181897</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="acordeon-box">
                <div class="acordeon-head">
                  <div class="radio-area">
                      <input type="radio" name="pembayaran" id="transfer" required="" data-parsley-multiple="metodepembayaran" data-parsley-id="23">
                      <label for="transfer" class="">Kartu Kredit </label>
                  </div>
                </div>
              </div>
              <div class="acordeon-box">
                <div class="acordeon-head">
                  <div class="radio-area">
                      <input type="radio" name="pembayaran" id="transfer" required="" data-parsley-multiple="metodepembayaran" data-parsley-id="23">
                      <label for="transfer" class="">Cicilan </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">

                </div>
                <div class="bayar-container col-md-4">
                  <button class="btn btn--orange btn--medium">BAYAR</button>
                </div>
                <div class="col-md-4">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="plan-destinasi-cart-price pembayaran--cart">
          <div class="pd-cp-inner">
            <div class="pd-cp-box label">
              <h5>3 Hari di Bandung</h5>
              <p>12 Destinasi - 2 Orang</p>
            </div>
            <div class="pd-cp-itn">
              <div class="row">
                <div class="col-md-4">
                  <div class="img-round-box">
                    <img src="./images/dummy/narso.png" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <p>PEMANDU</p>
                  <p>Vladimir Narso</p>
                </div>
              </div>
            </div>
            <div class="pd-cp-itn">
              <div class="row">
                <div class="col-md-4">
                  <div class="img-round-box">
                    <img src="./images/dummy/innova.png" alt="">
                  </div>
                </div>
                <div class="col-md-8">
                  <p>KENDARAAN</p>
                  <p>Suzuki APV</p>
                </div>
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                21 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box child">
              <div class="pd-cp-text-label">
                Gunung Tangkuban Parahu
              </div>
              <div class="pd-cp-text-number">
                IDR 80.000
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                22 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                23 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-isolate-box">
              <div class="pdi-inner">
                <div class="checkbox-area">
                  <input type="checkbox" name="address" id="billing" data-parsley-multiple="address" data-parsley-id="46">
                  <label for="billing" class="">
                    <p>Tambahkan Asuransi Perjalanan CHUBB</p>
                    <p>IDR 15.000/Orang</p>
                    <a href="">Pelajari Selengkapnya</a>
                  </label>
              </div>
              </div>
            </div>
            <div class="pd-cp-box subtotal">
              <div class="pd-cp-container">
                <div class="pd-cp-text-label">
                  GRAND TOTAL
                </div>
                <div class="pd-cp-text-number">
                  Rp 80.000
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</div>
