<div class="container container--full grey">
  <div class="plan-destinasi-board">
    <div class="container">
      <div class="plan-destinasi-boardbox-container">
        <div class="plan-destinasi-board-box">
          <div class="label">
            kota
          </div>
          <div class="value">
            bandung
          </div>
        </div>
        <div class="plan-destinasi-board-box">
          <div class="label">
            tanggal
          </div>
          <div class="value">
            21 April - 23 April
          </div>
        </div>
        <div class="plan-destinasi-board-box">
          <div class="label">
            peserta
          </div>
          <div class="value">
            2 Orang
          </div>
        </div>
      </div>
      <div class="plan-destinasi-board-action">
        ubah
      </div>
    </div>
  </div>
  <div class="container container-body plan-destinasi">
    <h3>Buat Plan</h3>
    <div class="plan-destinasi-body">
      <div class="row">
        <div class="plan-destinasi-date">
          <div class="pd-date-block active">
            <div class="pd-date-days">
              21
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              22
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              23
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
        </div>
        <div class="plen-destinasi-main-body">
          <div class="plan-destinasi-mb-inner">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
