<script src="js/view/plan_destinasi.js" charset="utf-8"></script>
<div class="container container--full grey">
  <div class="plan-destinasi-board">
    <div class="container">
      <div class="plan-destinasi-boardbox-container">
        <div class="plan-destinasi-board-box">
          <div class="label">
            kota
          </div>
          <div class="value">
            bandung
          </div>
        </div>
        <div class="plan-destinasi-board-box">
          <div class="label">
            tanggal
          </div>
          <div class="value">
            21 April - 23 April
          </div>
        </div>
        <div class="plan-destinasi-board-box">
          <div class="label">
            peserta
          </div>
          <div class="value">
            2 Orang
          </div>
        </div>
      </div>
      <div class="plan-destinasi-board-action">
        ubah
      </div>
    </div>
  </div>
  <div class="container container-body plan-destinasi">
    <h3>Buat Plan</h3>
    <div class="plan-destinasi-body">
      <div class="row">
        <div class="plan-destinasi-date">
          <div class="pd-date-block active">
            <div class="pd-date-days">
              21
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              22
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              23
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
        </div>
        <div class="plan-destinasi-main-body">
          <div class="plan-destinasi-mb-inner">
            <div class="pd-mb-head">
              <div class="pd-mb-step done " step="1">
                <p>destinasi</p>
              </div>
              <div class="pd-mb-step done" step="2">
                <p>penginapan</p>
              </div>
              <div class="pd-mb-step active" step="3">
                <p>transport</p>
              </div>
              <div class="pd-mb-step" step="4">
                <p>pemandu</p>
              </div>
            </div>
            <div class="pd-mb-body">
              <div class="empty-state">
                <div class="middle-both">
                  <h5>Apakah kamu butuh Mobil?</h5>
                  <button class="btn btn--blue btn--medium btn-js-action" data-action="open-modal" data-actionFor="modal-plan-destinasi">Ya, Saya butuh mobil</button>
                  <a href="">Tidak, lewati</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="plan-destinasi-cart-price">
          <div class="pd-cp-inner">
            <div class="pd-cp-box label">
              <p>Rincian</p>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                21 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box child">
              <div class="pd-cp-text-label">
                Gunung Tangkuban Parahu
              </div>
              <div class="pd-cp-text-number">
                IDR 80.000
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                22 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                23 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box subtotal">
              <div class="pd-cp-container">
                <div class="pd-cp-text-label">
                  SUB TOTAL
                </div>
                <div class="pd-cp-text-number">
                  Rp 80.000
                </div>
              </div>
              <button class="btn btn--orange btn--medium" >PESAN</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="modal-overlay modal-plan-destinasi">
  <div class="close-modal-container">
    <div class=" btn-js-action close-btn" data-action="close-modal">
    </div>
  </div>
  <div class="modal-plan-destinasi-ov-body">
    <div class="modal-pd-head">
      <div class="modal-pd-head-top container">
        <div class="modal-pd-description">
          <div class="modal-pd-desc-label">
            Bandung
          </div>
          <span>Showing 6 of 120 destinations</span>
        </div>
        <div class="modal-pd-filter">
          <ul class="modal-pd-filter-inner">
              <li class="mpd-child js-open-filter"><p>FILTER</p><img src="images/icon/ic-filter.svg" alt="filter icon" class="svg-image"></li>
              <li class="mpd-child"><p>SORT</p><img src="images/icon/ic-sort.svg" alt="sort icon" class="svg-image"></li>
              <li class="mpd-child modal-pd-double">
                <img src="images/icon/ic-hamburger.svg" alt="sort icon" class="svg-image">
                <img src="images/icon/ic-map.svg" alt="sort icon" class="svg-image">
              </li>
          </ul>
        </div>
      </div>
      <div class="modal-filter-body ">
        <div class="container">
          <div class="modal-primary-filter">
            <div class="filter-menu">
              <div class="filter-menu-box active">
                <div class="fmb-inner">
                  <div class="fmb-img">
                    <img class="svg-image" src="./images/icon/ic-briefcase.svg" alt="icon briefcase">
                  </div>
                  <div class="fmb-label">
                    <span>KATEGORI</span>
                  </div>
                </div>
              </div>
              <div class="filter-menu-box">
                <div class="fmb-inner">
                  <div class="fmb-img">
                    <img class="svg-image" src="./images/icon/ic-coin.svg" alt="icon briefcase">
                  </div>
                  <div class="fmb-label">
                    <span>HARGA</span>
                  </div>
                </div>
              </div>
              <div class="filter-menu-box">
                <div class="fmb-inner">
                  <div class="fmb-img">
                    <img class="svg-image" src="./images/icon/ic-pricetag.svg" alt="icon briefcase">
                  </div>
                  <div class="fmb-label">
                    <span>TAG</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-reset">
              <button class="btn small"><i class="fa fa-refresh" aria-hidden="true"></i>Reset</button>
            </div>
          </div>
          <div class="modal-child-filter">

            <div class="mcf-action active  row">

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="semua" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="semua" class="">Semua</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="atraksi" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="atraksi" class="">Atraksi</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="resto" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="resto" class="">Resto</label>
                </div>


            </div>

            <div class="mcf-action row ">

              <div class="form-group col-md-2">
                <label for="">Minimum</label>
                <div class="input-group">
                  <input id="input-with-keypress-0" type="text" placeholder="Placeholder">
                </div>
              </div>

              <div class="slider-group col-md-8">
                <div class="middle-v">
                  <div id="keypress">

                  </div>
                </div>
              </div>

            <div class="form-group col-md-2">
              <label for="">Maksimum</label>
              <div class="input-group">
                <input id="input-with-keypress-1" type="text" placeholder="Placeholder">
              </div>
            </div>

            </div>

            <div class="mcf-action row">

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="semua" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="semua" class="">Semua</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="atraksi" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="atraksi" class="">Keluarga</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="resto" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="resto" class="">Outdoor</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="resto" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="resto" class="">Kuliner</label>
                </div>


            </div>

          </div>
          <div class="modal-filter-footer">
            <div class="container">
              <div class="close-filter js-close-filter">
                <p>Tutup Filter</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-pd-body container">
        <div class="nav-btn nav-btn-left">
          <i class="fa fa-angle-left middle-both" aria-hidden="true"></i>
        </div>
        <div class="nav-btn nav-btn-right">
          <i class="fa fa-angle-right middle-both" aria-hidden="true"></i>
        </div>
      <div class="modal-pd-box-container middle-both">
        <div class="row">
          <div class="col-md-4">
            <div class="modal-pd-planbox transport">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/innova.png" alt="innova img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <p>Toyota Innova</p>
                    <p>5 kursi, 4 pintu, 2 tas besar</p>
                  </div>

                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  Rp 200.000<span>/hari</span>
                </div>
                <div class="planbox-button-action">

                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="modal-pd-planbox transport">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/innova.png" alt="innova img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <p>Toyota Innova</p>
                    <p>5 kursi, 4 pintu, 2 tas besar</p>
                  </div>

                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  Rp 200.000<span>/hari</span>
                </div>
                <div class="planbox-button-action">

                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="modal-pd-planbox transport">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/innova.png" alt="innova img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <p>Toyota Innova</p>
                    <p>5 kursi, 4 pintu, 2 tas besar</p>
                  </div>

                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  Rp 200.000<span>/hari</span>
                </div>
                <div class="planbox-button-action">

                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="modal-pd-planbox transport">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/innova.png" alt="innova img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <p>Toyota Innova</p>
                    <p>5 kursi, 4 pintu, 2 tas besar</p>
                  </div>

                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  Rp 200.000<span>/hari</span>
                </div>
                <div class="planbox-button-action">

                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="modal-pd-planbox transport">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/innova.png" alt="innova img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <p>Toyota Innova</p>
                    <p>5 kursi, 4 pintu, 2 tas besar</p>
                  </div>

                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  Rp 200.000<span>/hari</span>
                </div>
                <div class="planbox-button-action">

                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="modal-pd-planbox transport">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/innova.png" alt="innova img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <p>Toyota Innova</p>
                    <p>5 kursi, 4 pintu, 2 tas besar</p>
                  </div>

                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  Rp 200.000<span>/hari</span>
                </div>
                <div class="planbox-button-action">

                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
