<div class="container container--full grey">
  <div class="plan-destinasi-board">
    <div class="container">
      <div class="plan-destinasi-boardbox-container">
        <div class="plan-destinasi-board-box">
          <div class="label">
            kota
          </div>
          <div class="value">
            bandung
          </div>
        </div>
        <div class="plan-destinasi-board-box">
          <div class="label">
            tanggal
          </div>
          <div class="value">
            21 April - 23 April
          </div>
        </div>
        <div class="plan-destinasi-board-box">
          <div class="label">
            peserta
          </div>
          <div class="value">
            2 Orang
          </div>
        </div>
      </div>
      <div class="plan-destinasi-board-action">
        ubah
      </div>
    </div>
  </div>
  <div class="container container-body plan-destinasi">
    <h3>Buat Plan</h3>
    <div class="plan-destinasi-body">
      <div class="row">
        <div class="plan-destinasi-date">
          <div class="pd-date-block active">
            <div class="pd-date-days">
              21
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              22
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
          <div class="pd-date-block ">
            <div class="pd-date-days">
              23
            </div>
            <div class="pd-date-month">
              apr
            </div>
          </div>
        </div>
        <div class="plan-destinasi-main-body">
          <div class="plan-destinasi-mb-inner">
            <div class="pd-mb-head">
              <div class="pd-mb-step active" step="1">
                <p>destinasi</p>
              </div>
              <div class="pd-mb-step" step="2">
                <p>penginapan</p>
              </div>
              <div class="pd-mb-step" step="3">
                <p>transport</p>
              </div>
              <div class="pd-mb-step" step="4">
                <p>pemandu</p>
              </div>
            </div>
            <div class="pd-mb-body">
              <div class="empty-state">
                <div class="middle-both">
                  <h5>Kamu belum memilih destinasi</h5>
                </div>
              </div>
              <button class="btn btn-add btn-js-action" data-action="open-modal" data-actionFor="modal-plan-destinasi">
                <span class="ico--plus"></span>
                <p class="btn--text">Tambah Destinasi</p>
              </button>
            </div>
          </div>
        </div>
        <div class="plan-destinasi-cart-price">
          <div class="pd-cp-inner">
            <div class="pd-cp-box label">
              <p>Rincian</p>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                21 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                21 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box">
              <div class="pd-cp-text-label">
                21 APR
              </div>
              <div class="pd-cp-text-number">
                Rp. 0
              </div>
            </div>
            <div class="pd-cp-box subtotal">
              <div class="open-modal-cart">
                  <button class="btn btn-js-action no-btn" data-action="open-modal" data-actionFor="modal-total">
                      <img src="images/icon/off.svg" alt="">
                  </button>
              </div>
              <div class="pd-cp-container">
                <div class="pd-cp-text-label">
                  SUB TOTAL
                </div>
                <div class="pd-cp-text-number">
                  Rp 80.000
                </div>
              </div>
              <button class="btn btn--orange btn--medium" >PESAN</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal-overlay modal-plan-destinasi">
  <div class="close-modal-container">
    <div class=" btn-js-action close-btn" data-action="close-modal">
    </div>
  </div>
  <div class="modal-plan-destinasi-ov-body">
    <div class="modal-pd-head">
      <div class="modal-pd-head-top container">
        <div class="modal-pd-description">
          <div class="close-modal-mobile">
              <div class=" btn-js-action close-btn" data-action="close-modal">
                </div>
          </div>
          <div class="modal-pd-desc-label">
            Bandung
          </div>
          <span>Showing 6 of 120 destinations</span>
        </div>
        <div class="modal-pd-filter">
          <ul class="modal-pd-filter-inner">
              <li class="mpd-child mpd-single js-open-filter"><p>FILTER</p><img src="images/icon/ic-filter.svg" alt="filter icon" class="svg-image"></li>
              <li class="mpd-child mpd-single "><p>SORT</p><img src="images/icon/ic-sort.svg" alt="sort icon" class="svg-image"></li>
              <li class="mpd-child modal-pd-double">
                <div class="mpd-single" data-target="default"><img src="images/icon/ic-hamburger.svg" alt="sort icon" class="svg-image"></div>
                <div class="mpd-single" data-target="with-map"><img src="images/icon/ic-map.svg" alt="sort icon" class="svg-image"></div>
              </li>
          </ul>
        </div>
      </div>
      <div class="modal-filter-body ">
        <div class="container">
          <div class="modal-primary-filter">
            <div class="filter-menu">
              <div class="filter-menu-box active">
                <div class="fmb-inner">
                  <div class="fmb-img">
                    <img class="svg-image" src="./images/icon/ic-briefcase.svg" alt="icon briefcase">
                  </div>
                  <div class="fmb-label">
                    <span>KATEGORI</span>
                  </div>
                </div>
              </div>
              <div class="filter-menu-box">
                <div class="fmb-inner">
                  <div class="fmb-img">
                    <img class="svg-image" src="./images/icon/ic-coin.svg" alt="icon briefcase">
                  </div>
                  <div class="fmb-label">
                    <span>HARGA</span>
                  </div>
                </div>
              </div>
              <div class="filter-menu-box">
                <div class="fmb-inner">
                  <div class="fmb-img">
                    <img class="svg-image" src="./images/icon/ic-pricetag.svg" alt="icon briefcase">
                  </div>
                  <div class="fmb-label">
                    <span>TAG</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-reset">
              <button class="btn small"><i class="fa fa-refresh" aria-hidden="true"></i>Reset</button>
            </div>
          </div>
          <div class="modal-child-filter">

            <div class="mcf-action active  row">

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="semua" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="semua" class="">Semua</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="atraksi" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="atraksi" class="">Atraksi</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="resto" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="resto" class="">Resto</label>
                </div>

 
            </div>

            <div class="mcf-action row ">

              <div class="form-group col-md-2">
                <label for="">Minimum</label>
                <div class="input-group">
                  <input id="input-with-keypress-0" type="text" placeholder="Placeholder">
                </div>
              </div>

              <div class="slider-group col-md-8">
                <div class="middle-v">
                  <div id="keypress">

                  </div>
                </div>
              </div>

            <div class="form-group col-md-2">
              <label for="">Maksimum</label>
              <div class="input-group">
                <input id="input-with-keypress-1" type="text" placeholder="Placeholder">
              </div>
            </div>

            </div>

            <div class="mcf-action row">

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="semua" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="semua" class="">Semua</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="atraksi" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="atraksi" class="">Keluarga</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="resto" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="resto" class="">Outdoor</label>
                </div>

                <div class="checkbox-area col-md-2">
                  <input type="checkbox" name="kategori" id="resto" data-parsley-multiple="kategori" data-parsley-id="46">
                  <label for="resto" class="">Kuliner</label>
                </div>


            </div>

          </div>
          <div class="modal-filter-footer">
            <div class="container">
              <div class="close-filter js-close-filter">
                <p>Tutup Filter</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="with-map" class="modal-pd-body container with--map">
      <div class="row">
        <div class="map-place col-md-8">
          <div id="marketplace-map" class="map-place-container">

          </div>
        </div>
        <div class="col-md-4 col-xs-12  planbox-container ">
          <div class="modal--map_container">
              <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="modal-pd-planbox">
                            <div class="planbox-description">
                              <div class="planbox-img">
                                <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                              </div>
                              <div class="planbox-text">
                                <div class="planbox-destination">
                                  <span>ATRAKSI</span>
                                  <p>Ranca Upas</p>
                                </div>
                                <div class="planbox-rating star-rating" data-star="5" >
                                  <div class="rating-container">
                
                                  </div>
                                  <span>240 reviews</span>
                                </div>
                              </div>
                            </div>
                            <div class="planbox-action">
                              <div class="planbox-price">
                                <div class="price-box">
                                  Rp 2.000.000
                                </div>
                              </div>
                              <div class="planbox-button-action">
                                <button class="btn small">Lihat Detail</button>
                                <button class="btn btn--orange small">Tambahkan</button>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="modal-pd-planbox">
                            <div class="planbox-description">
                              <div class="planbox-img">
                                <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                              </div>
                              <div class="planbox-text">
                                <div class="planbox-destination">
                                  <span>ATRAKSI</span>
                                  <p>Ranca Upas</p>
                                </div>
                                <div class="planbox-rating star-rating" data-star="5" >
                                  <div class="rating-container">
                
                                  </div>
                                  <span>240 reviews</span>
                                </div>
                              </div>
                            </div>
                            <div class="planbox-action">
                              <div class="planbox-price">
                                <div class="price-box">
                                  Rp 2.000.000
                                </div>
                              </div>
                              <div class="planbox-button-action">
                                <button class="btn small">Lihat Detail</button>
                                <button class="btn btn--orange small">Tambahkan</button>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="modal-pd-planbox">
                            <div class="planbox-description">
                              <div class="planbox-img">
                                <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                              </div>
                              <div class="planbox-text">
                                <div class="planbox-destination">
                                  <span>ATRAKSI</span>
                                  <p>Ranca Upas</p>
                                </div>
                                <div class="planbox-rating star-rating" data-star="5" >
                                  <div class="rating-container">
                
                                  </div>
                                  <span>240 reviews</span>
                                </div>
                              </div>
                            </div>
                            <div class="planbox-action">
                              <div class="planbox-price">
                                <div class="price-box">
                                  Rp 2.000.000
                                </div>
                              </div>
                              <div class="planbox-button-action">
                                <button class="btn small">Lihat Detail</button>
                                <button class="btn btn--orange small">Tambahkan</button>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="modal-pd-planbox">
                            <div class="planbox-description">
                              <div class="planbox-img">
                                <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                              </div>
                              <div class="planbox-text">
                                <div class="planbox-destination">
                                  <span>ATRAKSI</span>
                                  <p>Ranca Upas</p>
                                </div>
                                <div class="planbox-rating star-rating" data-star="5" >
                                  <div class="rating-container">
                
                                  </div>
                                  <span>240 reviews</span>
                                </div>
                              </div>
                            </div>
                            <div class="planbox-action">
                              <div class="planbox-price">
                                <div class="price-box">
                                  Rp 2.000.000
                                </div>
                              </div>
                              <div class="planbox-button-action">
                                <button class="btn small">Lihat Detail</button>
                                <button class="btn btn--orange small">Tambahkan</button>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="modal-pd-planbox">
                            <div class="planbox-description">
                              <div class="planbox-img">
                                <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                              </div>
                              <div class="planbox-text">
                                <div class="planbox-destination">
                                  <span>ATRAKSI</span>
                                  <p>Ranca Upas</p>
                                </div>
                                <div class="planbox-rating star-rating" data-star="5" >
                                  <div class="rating-container">
                
                                  </div>
                                  <span>240 reviews</span>
                                </div>
                              </div>
                            </div>
                            <div class="planbox-action">
                              <div class="planbox-price">
                                <div class="price-box">
                                  Rp 2.000.000
                                </div>
                              </div>
                              <div class="planbox-button-action">
                                <button class="btn small">Lihat Detail</button>
                                <button class="btn btn--orange small">Tambahkan</button>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="default" class="modal-pd-body container active">
        <div class="nav-btn nav-btn-left">
          <i class="fa fa-angle-left middle-both" aria-hidden="true"></i>
        </div>
        <div class="nav-btn nav-btn-right">
          <i class="fa fa-angle-right middle-both" aria-hidden="true"></i>
        </div>
      <div class="modal-pd-box-container middle-both">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-12 ">
            <div class="modal-pd-planbox">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <span>ATRAKSI</span>
                    <p>Ranca Upas</p>
                  </div>
                  <div class="planbox-rating star-rating" data-star="5" >
                    <div class="rating-container">

                    </div>
                    <span>240 reviews</span>
                  </div>
                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  <div class="price-box">
                    Rp 2.000.000
                  </div>
                </div>
                <div class="planbox-button-action">
                  <button class="btn small">Lihat Detail</button>
                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 ">
            <div class="modal-pd-planbox">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <span>ATRAKSI</span>
                    <p>Ranca Upas</p>
                  </div>
                  <div class="planbox-rating star-rating" data-star="5" >
                    <div class="rating-container">

                    </div>
                    <span>240 reviews</span>
                  </div>
                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  <div class="price-box">
                    Rp 2.000.000
                  </div>
                </div>
                <div class="planbox-button-action">
                  <button class="btn small">Lihat Detail</button>
                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 ">
            <div class="modal-pd-planbox">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <span>ATRAKSI</span>
                    <p>Ranca Upas</p>
                  </div>
                  <div class="planbox-rating star-rating" data-star="5" >
                    <div class="rating-container">

                    </div>
                    <span>240 reviews</span>
                  </div>
                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  <div class="price-box">
                    Rp 2.000.000
                  </div>
                </div>
                <div class="planbox-button-action">
                  <button class="btn small">Lihat Detail</button>
                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 ">
            <div class="modal-pd-planbox">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <span>ATRAKSI</span>
                    <p>Ranca Upas</p>
                  </div>
                  <div class="planbox-rating star-rating" data-star="5" >
                    <div class="rating-container">

                    </div>
                    <span>240 reviews</span>
                  </div>
                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  <div class="price-box">
                    Rp 2.000.000
                  </div>
                </div>
                <div class="planbox-button-action">
                  <button class="btn small">Lihat Detail</button>
                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 ">
            <div class="modal-pd-planbox">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <span>ATRAKSI</span>
                    <p>Ranca Upas</p>
                  </div>
                  <div class="planbox-rating star-rating" data-star="5" >
                    <div class="rating-container">

                    </div>
                    <span>240 reviews</span>
                  </div>
                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  <div class="price-box">
                    Rp 2.000.000
                  </div>
                </div>
                <div class="planbox-button-action">
                  <button class="btn small">Lihat Detail</button>
                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 ">
            <div class="modal-pd-planbox">
              <div class="planbox-description">
                <div class="planbox-img">
                  <img class="middle-both" src="images/dummy/dummy.jpg" alt="dummy img">
                </div>
                <div class="planbox-text">
                  <div class="planbox-destination">
                    <span>ATRAKSI</span>
                    <p>Ranca Upas</p>
                  </div>
                  <div class="planbox-rating star-rating" data-star="5" >
                    <div class="rating-container">

                    </div>
                    <span>240 reviews</span>
                  </div>
                </div>
              </div>
              <div class="planbox-action">
                <div class="planbox-price">
                  <div class="price-box">
                    Rp 2.000.000
                  </div>
                </div>
                <div class="planbox-button-action">
                  <button class="btn small">Lihat Detail</button>
                  <button class="btn btn--orange small">Tambahkan</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="modal-overlay modal-total plan-destinasi">
  <div class="modal-plan-destinasi-ov-body">
      <div class="modal-pd-head">
          <div class="modal-pd-head-top container">
            <div class="modal-pd-description">
              <div class="close-modal-mobile">
                  <div class=" btn-js-action close-btn" data-action="close-modal">
                    </div>
              </div>
              <div class="modal-pd-desc-label">
                Rincian
              </div>
            </div>
          </div>
      </div>
      <div class="modal-pd-body active">
          <div class="plan-destinasi-cart-price">
              <div class="pd-cp-inner">
                <div class="pd-cp-box">
                  <div class="pd-cp-text-label">
                    21 APR
                  </div>
                  <div class="pd-cp-text-number">
                    Rp. 0
                  </div>
                </div>
                <div class="pd-cp-box">
                  <div class="pd-cp-text-label">
                    21 APR
                  </div>
                  <div class="pd-cp-text-number">
                    Rp. 0
                  </div>
                </div>
                <div class="pd-cp-box">
                  <div class="pd-cp-text-label">
                    21 APR
                  </div>
                  <div class="pd-cp-text-number">
                    Rp. 0
                  </div>
                </div>
              </div>
            </div>
            <div class="pd-cp-box subtotal">
                <div class="pd-cp-container">
                  <div class="pd-cp-text-label">
                    SUB TOTAL
                  </div>
                  <div class="pd-cp-text-number">
                    Rp 80.000
                  </div>
                </div>
                <button class="btn btn--orange btn--medium">PESAN</button>
              </div>
      </div>
  </div>
</div>

<script src="js/plugins/swiper.min.js" charset="utf-8"></script>
<script src="js/view/plan_destinasi.js" charset="utf-8"></script>