<div class="container container--full grey">
	<div class="detail-head op-detail__head no-padding" style="background-image:url('./images/opentrip_bg.jpeg')">
			<div class="op-detail__headcontent text-center">
					<p>Rekomendasi Atraksi</p>
					<h1>Bandung</h1>
			</div>
	</div>
	<!-- untuk rekomendasi seperti klook -->
	<div class="container container-body">
		<div class="rp__wrapper">
			<!-- rekomendasi atraksi -->
			<div class="rp__wrap rp__atraksi row">
				<div class="col-md-12 rp__bigcontent">
					<div class="rp__subtitle">
						<h1 class="home-wrapper__title">Family Fun</h1>
						<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, corrupti optio? Quas culpa, quam repellendus blanditiis ex sed perspiciatis ipsa saepe tempore explicabo recusandae dolor quae deleniti. Nulla, atque impedit.</p>
					</div>
					<div class="row">
						<div class="row col-md-12 rp__bigcontent">
							<div class="col-md-8 rp__grid">
								<div>
									<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
										<div class="home-biggrid__overlay"></div>
										<!-- hover state -->
										<div class="home-smallgrid__hover">
											<div class="home-smallgrid__wrapper">
												<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
												<div class="home-biggrid__pricehover">
													<span>Mulai Dari</span>
													<p>IDR 200.000</p>
													<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
												</div>
											</div>
										</div>
										<!-- default state -->
										<div class="home-smallgrid__default">
											<div class="home-smallgrid__wrapper">
												<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
												<div class="home-small-grid__infowrap">
													<div class="home-biggrid__info">
														<span class="fa fa-map-marker"></span>
														<p>Bandung</p>
													</div>
													<div class="home-biggrid__info">
														<span class="fa fa-calendar"></span>
														<p>24 April - 25 April</p>
													</div>
												</div>
											</div>
										</div>
										<!-- play icon kalau gak ada video hilangkan kalau kecil tambahkan home-smallgrid__play--small -->
										<div class="home-smallgrid__play">
											<span class="fa fa-play-circle"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row col-md-4 rp__grid">
								<div class="rp__smgrid">
									<!-- with video -->
									<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
										<div class="home-biggrid__overlay"></div>
										<!-- hover state -->
										<div class="home-smallgrid__hover">
											<div class="home-smallgrid__wrapper">
												<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
												<div class="home-biggrid__pricehover">
													<span>Mulai Dari</span>
													<p>IDR 200.000</p>
													<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
												</div>
											</div>
										</div>
										<!-- default state -->
										<div class="home-smallgrid__default">
											<div class="home-smallgrid__wrapper">
												<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
												<div class="home-small-grid__infowrap">
													<div class="home-biggrid__info">
														<span class="fa fa-map-marker"></span>
														<p>Bandung</p>
													</div>
													<div class="home-biggrid__info">
														<span class="fa fa-calendar"></span>
														<p>24 April - 25 April</p>
													</div>
												</div>
											</div>
										</div>
										<!-- play icon kalau gak ada video hilangkan kalau kecil tambahkan home-smallgrid__play--small -->
										<div class="home-smallgrid__play home-smallgrid__play--small">
											<span class="fa fa-play-circle"></span>
										</div>
									</div>
								</div>
								<div class="rp__smgrid">
									<!-- without video -->
									<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
										<div class="home-biggrid__overlay"></div>
										<!-- hover state -->
										<div class="home-smallgrid__hover">
											<div class="home-smallgrid__wrapper">
												<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
												<div class="home-biggrid__pricehover">
													<span>Mulai Dari</span>
													<p>IDR 200.000</p>
													<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
												</div>
											</div>
										</div>
										<!-- default state -->
										<div class="home-smallgrid__default">
											<div class="home-smallgrid__wrapper">
												<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
												<div class="home-small-grid__infowrap">
													<div class="home-biggrid__info">
														<span class="fa fa-map-marker"></span>
														<p>Bandung</p>
													</div>
													<div class="home-biggrid__info">
														<span class="fa fa-calendar"></span>
														<p>24 April - 25 April</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
						<!-- play icon kalau gak ada video hilangkan kalau kecil tambahkan home-smallgrid__play--small -->
						<div class="home-smallgrid__play home-smallgrid__play--small">
							<span class="fa fa-play-circle"></span>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- rekomendasi makanan -->
			<div class="rp__wrap rp__atraksi row">
				<div class="col-md-12 rp__bigcontent">
					<div class="rp__subtitle">
						<h1 class="home-wrapper__title">Fancy Dinning</h1>
						<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, corrupti optio? Quas culpa, quam repellendus blanditiis
							ex sed perspiciatis ipsa saepe tempore explicabo recusandae dolor quae deleniti. Nulla, atque impedit.</p>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-pd-head rp__filter">
		<div class="modal-pd-head-top container">
			<div class="modal-pd-description">
				<!-- <div class="modal-pd-desc-label">
							Rekomendasi
						</div> -->
			</div>
			<div class="modal-pd-filter">
				<ul class="modal-pd-filter-inner">
					<li class="mpd-child js-open-filter">
						<p>FILTER</p>
						<img src="images/icon/ic-filter.svg" alt="filter icon" class="svg-image">
					</li>
					<li class="mpd-child">
						<p>SORT</p>
						<img src="images/icon/ic-sort.svg" alt="sort icon" class="svg-image">
					</li>
				</ul>
			</div>
		</div>
		<div class="modal-filter-body ">
			<div class="container">
				<div class="modal-primary-filter">
					<div class="filter-menu">
						<div class="filter-menu-box active">
							<div class="fmb-inner">
								<div class="fmb-img">
									<img class="svg-image" src="./images/icon/ic-briefcase.svg" alt="icon briefcase">
								</div>
								<div class="fmb-label">
									<span>KATEGORI</span>
								</div>
							</div>
						</div>
						<div class="filter-menu-box">
							<div class="fmb-inner">
								<div class="fmb-img">
									<img class="svg-image" src="./images/icon/ic-coin.svg" alt="icon briefcase">
								</div>
								<div class="fmb-label">
									<span>HARGA</span>
								</div>
							</div>
						</div>
						<div class="filter-menu-box">
							<div class="fmb-inner">
								<div class="fmb-img">
									<img class="svg-image" src="./images/icon/ic-pricetag.svg" alt="icon briefcase">
								</div>
								<div class="fmb-label">
									<span>TAG</span>
								</div>
							</div>
						</div>
					</div>
					<div class="filter-reset">
						<button class="btn small">
							<i class="fa fa-refresh" aria-hidden="true"></i>Reset</button>
					</div>
				</div>
				<div class="modal-child-filter">
	
					<div class="mcf-action active  row">
	
						<div class="checkbox-area col-md-2">
							<input type="checkbox" name="kategori" id="semua" data-parsley-multiple="kategori" data-parsley-id="46">
							<label for="semua" class="">Semua</label>
						</div>
	
						<div class="checkbox-area col-md-2">
							<input type="checkbox" name="kategori" id="atraksi" data-parsley-multiple="kategori" data-parsley-id="46">
							<label for="atraksi" class="">Atraksi</label>
						</div>
	
						<div class="checkbox-area col-md-2">
							<input type="checkbox" name="kategori" id="resto" data-parsley-multiple="kategori" data-parsley-id="46">
							<label for="resto" class="">Resto</label>
						</div>
	
	
					</div>
	
					<div class="mcf-action row ">
	
						<div class="form-group col-md-2">
							<label for="">Minimum</label>
							<div class="input-group">
								<input id="input-with-keypress-0" type="text" placeholder="Placeholder">
							</div>
						</div>
	
						<div class="slider-group col-md-8">
							<div class="middle-v">
								<div id="keypress">
	
								</div>
							</div>
						</div>
	
						<div class="form-group col-md-2">
							<label for="">Maksimum</label>
							<div class="input-group">
								<input id="input-with-keypress-1" type="text" placeholder="Placeholder">
							</div>
						</div>
	
					</div>
	
					<div class="mcf-action row">
	
						<div class="checkbox-area col-md-2">
							<input type="checkbox" name="kategori" id="semua" data-parsley-multiple="kategori" data-parsley-id="46">
							<label for="semua" class="">Semua</label>
						</div>
	
						<div class="checkbox-area col-md-2">
							<input type="checkbox" name="kategori" id="atraksi" data-parsley-multiple="kategori" data-parsley-id="46">
							<label for="atraksi" class="">Keluarga</label>
						</div>
	
						<div class="checkbox-area col-md-2">
							<input type="checkbox" name="kategori" id="resto" data-parsley-multiple="kategori" data-parsley-id="46">
							<label for="resto" class="">Outdoor</label>
						</div>
	
						<div class="checkbox-area col-md-2">
							<input type="checkbox" name="kategori" id="resto" data-parsley-multiple="kategori" data-parsley-id="46">
							<label for="resto" class="">Kuliner</label>
						</div>
	
	
					</div>
	
				</div>
				<div class="modal-filter-footer">
					<div class="container">
						<div class="close-filter js-close-filter">
							<p>Tutup Filter</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container container-body">
		<div class="rp__wrapper">
			<div class="rp__wrap row">
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content col-md-4">
					<div class="home-smallgrid" style="background-image: url('./images/image-b.jpg');">
						<div class="home-biggrid__overlay"></div>
						<!-- hover state -->
						<div class="home-smallgrid__hover">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-biggrid__pricehover">
									<span>Mulai Dari</span>
									<p>IDR 200.000</p>
									<img class="svg-image" src="./images/icon/home-arrow.svg" alt="">
								</div>
							</div>
						</div>
						<!-- default state -->
						<div class="home-smallgrid__default">
							<div class="home-smallgrid__wrapper">
								<h5>3 Hari di Bandung Barat : Tangkuban Perahu &amp; Maribaya</h5>
								<div class="home-small-grid__infowrap">
									<div class="home-biggrid__info">
										<span class="fa fa-map-marker"></span>
										<p>Bandung</p>
									</div>
									<div class="home-biggrid__info">
										<span class="fa fa-calendar"></span>
										<p>24 April - 25 April</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="rp__content rp__btn col-md-12">
					<button class="btn">LIHAT LEBIH BANYAK</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/plugins/swiper.min.js" charset="utf-8"></script>
<script src="js/view/recomended_plan.js" charset="utf-8"></script>