<div class="container container--full grey">
	<div class="container static static-tnc">
		<div class="row">
			<div class="col-md-4 static__side">
				<div class="static__menu">
					<div class="static__category">
						<h3>Info</h3>
					</div>
					<div class="static__subcategory">
						<h5>How It Works</h5>
					</div>
					<div class="static__subcategory">
						<h5>For Hosts</h5>
					</div>
					<div class="static__subcategory">
						<h5>For Travelers</h5>
					</div>
					<div class="static__subcategory active">
						<h5>FAQ</h5>
					</div>
					<div class="static__subcategory">
						<h5>Terms &amp; Conditions</h5>
					</div>
					<div class="static__subcategory">
						<h5>Contacts</h5>
					</div>
					<div class="static__category">
						<h3>About Settrip</h3>
					</div>
					<div class="static__subcategory">
						<h5>What is Settrip</h5>
					</div>
					<div class="static__subcategory">
						<h5>Why</h5>
					</div>
					<div class="static__subcategory">
						<h5>Jobs</h5>
					</div>
					<div class="static__subcategory">
						<h5>Team</h5>
					</div>
				</div>
			</div>
			<div class="col-md-8 static__side">
				<div class="static__container">
					<div class="static__wrapper">
						<div class="static__content">
							<h2>Frequentyl Asked Questions (FAQ)</h2>
							<p>Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis.</p>
						</div>
						<div class="static__full-content">
							<div class="row">
								<div class="col-6 static__hiw static__bg-blue">
									<a href="#">
										<span class="fa fa-user"></span> For Hosts
									</a>
								</div>
								<div class="col-6 static__hiw static__bg-orange">
									<a href="#">
										<span class="fa fa-user"></span> For Travelers
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>