<div class="container container--full grey">
	<div class="container static static-tnc">
		<div class="row">
			<div class="col-md-4 static__side">
				<div class="static__menu">
					<div class="static__category">
						<h3>Info</h3>
					</div>
					<div class="static__subcategory">
						<h5>How It Works</h5>
					</div>
					<div class="static__subcategory">
						<h5>For Hosts</h5>
					</div>
					<div class="static__subcategory">
						<h5>For Travelers</h5>
					</div>
					<div class="static__subcategory">
						<h5>FAQ</h5>
					</div>
					<div class="static__subcategory active">
						<h5>Terms &amp; Conditions</h5>
					</div>
					<div class="static__subcategory">
						<h5>Contacts</h5>
					</div>
					<div class="static__category">
						<h3>About Settrip</h3>
					</div>
					<div class="static__subcategory">
						<h5>What is Settrip</h5>
					</div>
					<div class="static__subcategory">
						<h5>Why</h5>
					</div>
					<div class="static__subcategory">
						<h5>Jobs</h5>
					</div>
					<div class="static__subcategory">
						<h5>Team</h5>
					</div>
				</div>
			</div>
			<div class="col-md-8 static__side">
				<div class="static__container">
					<div class="static__wrapper">
						<div class="static__content">
							<h2>Terms &amp; Conditions</h2>
							<h5>Vulputate Sit</h5>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
							<p>Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
							<h5>Condimentum Ipsum Pharetra</h5>
							<p>Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis.</p>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
							<p>Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>