<div class="container pad-h-24 styleguide container-body">
  <button class="btn">button .btn</button>
  <button class="btn btn--medium">button .btn .btn--medium</button>
  <button class="btn btn--blue">button .btn .btn--blue</button>
  <button class="btn btn--blue btn--medium">button .btn .btn--medium .btn--blue</button>
  <button class="btn btn--orange">button .btn .btn--orange</button>
  <button class="btn btn--orange btn--medium">button .btn .btn--medium .btn--orange</button>
  <button class="btn btn-add"><span class="ico--plus"></span><p class="btn--text">Tambah Destinasi</p></button>
  <button class="btn btn-add-2"><span class="ico--plus"></span><p class="btn--text">tambahkan ke plan</p></button>
</div>
