<script src="js/view/dashboard.js" charset="utf-8"></script>
<div class="container container--full grey">
  <div class="container dashboard">
    <div class="row">
      <div class="col-sm-3">
        <div class="dashpanel profile">
          <div class="profile">
            <div class="profile-picture">
              <img src="./images/guide.jpg" alt="">
            </div>
            <div class="profile-name">
              Narso
            </div>
          </div>
        </div>
        <div class="dashboard-navigation">
          <ul>
            <li class="active">
              <i class="fa fa-user" aria-hidden="true"></i>
              <div class="dn-text">
                Profile
              </div>
            </li>
            <li>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <div class="dn-text">
                Riwayat Order
              </div>
            </li>
            <li>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <div class="dn-text">
                Wishlist
              </div>
            </li>
          </ul>
        </div>
        <button class="btn w-100 btn--blue">LOG OUT</button>
      </div>
      <div class="col-sm-9">
        <div class="dashpanel profile-body">
          <div class="panel-head">
            <ul>
              <li class="active">
                Ubah Profil
              </li>
              <li>
                Ubah Password
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="panel-inside">
              <div class="panel-body__inner">
                <div class="row">
                  <div class="form-group col-sm-8">
                    <label for="">Nama Depan</label>
                    <div class="input-group">
                      <input type="text" placeholder="Placeholder">
                    </div>
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="">Nama Belakang</label>
                    <div class="input-group">
                      <input type="text" placeholder="Placeholder">
                    </div>
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="">Alamat Email</label>
                    <div class="input-group">
                      <input type="email" placeholder="Placeholder">
                    </div>
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="">No Telpon</label>
                    <div class="input-group">
                      <input type="number" placeholder="Placeholder">
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <button class="btn btn--orange btn--medium col-sm-3">SIMPAN</button>
              </div>
            </div>
            <div class="panel-inside active">
              <div class="panel-body__inner">
                <div class="row">
                  <div class="form-group col-sm-8">
                    <label for="">Password Lama</label>
                    <div class="input-group">
                      <input type="text" placeholder="Placeholder">
                    </div>
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="">Password Baru</label>
                    <div class="input-group">
                      <input type="text" placeholder="Placeholder">
                    </div>
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="">Konfirmasi Password Baru</label>
                    <div class="input-group">
                      <input type="email" placeholder="Placeholder">
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <button class="btn btn--orange btn--medium col-sm-3">SIMPAN</button>
              </div>
            </div>
          </div>
        </div>
        <div class="dashpanel join-mitra">
          <div class="row">
            <div class="col-sm-8">
              <h5>Bergabung sebagai mitra</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim.</p>
            </div>
          </div>
          <button class="btn btn--orange btn--medium col-sm-2">APPLY</button>
        </div>
      </div>
    </div>
  </div>
</div>
