<script src="js/view/dashboard.js" charset="utf-8"></script>
<div class="container container--full grey">
  <div class="container dashboard">
    <div class="row">
      <div class="col-sm-3">
        <div class="dashpanel profile">
          <div class="profile">
            <div class="profile-picture">
              <img src="./images/guide.jpg" alt="">
            </div>
            <div class="profile-name">
              Narso
            </div>
          </div>
        </div>
        <div class="dashboard-navigation">
          <ul>
            <li >
              <i class="fa fa-user" aria-hidden="true"></i>
              <div class="dn-text">
                Profile
              </div>
            </li>
            <li class="active">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <div class="dn-text">
                Riwayat Order
              </div>
            </li>
            <li>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <div class="dn-text">
                Wishlist
              </div>
            </li>
          </ul>
        </div>
        <button class="btn w-100 btn--blue">LOG OUT</button>
      </div>
      <div class="col-sm-9">
        <div class="dashpanel profile-body">
          <div class="panel-head">
            <h1>Riwayat Order</h1>
          </div>
          <div class="panel-body">
            <div class="panel-table panel-inside active">
              <div class="table-flex">
                <div class="table--head--flex flex--row">
                  <div class="flex--column fixed-small">
                    Order Id
                  </div>
                  <div class="flex--column fixed-small">
                    Tanggal
                  </div>
                  <div class="flex--column fixed-small">
                    Nama
                  </div>
                  <div class="flex--column medium-small">
                    Harga
                  </div>
                  <div class="flex--column medium-small">
                    Status
                  </div>
                  <div class="flex--column fixed-small">
                    <button class="btn">Bagikan</button>
                  </div>
                </div>
                <div class="table--body--flex">
                  <div  class="flex--row">
                    <div class="flex--column fixed-small">
                      11255678
                    </div>
                    <div class="flex--column fixed-small">
                      12 Juli 2017
                    </div>
                    <div class="flex--column fixed-small">
                      <span class="bold-blue">3 Hari di Bandung</span>
                    </div>
                    <div class="flex--column medium-small">
                      Rp1.200.000
                    </div>
                    <div class="flex--column medium-small">
                      <button class="btn w-100 btn--blue">Konfirmasi pembayaran</button>
                    </div>
                    <div class="flex--column fixed-small">
                      <button class="btn">Bagikan</button>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashpanel join-mitra">
          <div class="row">
            <div class="col-sm-8">
              <h5>Bergabung sebagai mitra</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Ad duis scripta qui. Detraxit ocurreret percipitur ex eos, mollis vocent recusabo te vim.</p>
            </div>
          </div>
          <button class="btn btn--orange btn--medium col-sm-2">APPLY</button>
        </div>
      </div>
    </div>
  </div>
</div>
